# Air quality project

## Project and data description

### Data

The dataset consists air quality data (the concentrations of particulate matter PM1, PM2.5 and PM10, temperature, air pressure and humidity) from 2017 generated by network of 56 low-cost sensors located in Krakow, Poland. 

The data is divided into 12 files- one for each month. Each row represent single represents a single measurement. Each column shows measured amount:

- date nad time in UTC (Coordinated Universal Time) 

As Krakow, Poland is located in UTC+1 (in winter) and UTC+2 (in summer) final forecas should take under consideration this difference.  

- temperature

Air temperature measured in Celcius degrees- standard temprerature unit for Poland

- humidity

Current air humidity presented in percentages 

- pressure

Current air pressure presented in Pascals. May require conversion to hectopascals as it is a common unit for presenting air pressure value for forecast


Next, we can find three columns with measured particular matter in 3 cattegories- each in separate column:  

- pm10

Current value of particulate matter with size less than 10 μm (micrometre). Presented in μg/m3 (microgram on cubic metres). 

According to norms set by Chief Inspectorate of Environmental Protection (Główny Inspektorat Ochrony Środowiska- GIOŚ) the daily average concentrations of PM10 should not exceed 50 micrograms per cubic meter. 

- pm25

Amount of particulate matter with size less than 2.5 μm. Shows concentracion level in μg/m3. 

The amout is given in  Simirally as particular matter with size less than 1μm, it can also penetrate from lungs to blood. 

According to norms set by GIOŚ the daily average concentrations of PM2.5 should not exceed 25 micrograms per cubic meter. 

- pm1

Measured level of particulate matter with size less than 1 μm. Presented in μg/m3 (microgram on cubic metres). 

The allowable concentration for pm1 has not been defined.


The source of particulate matter in air are various kinds of combustion ex. domestic boiler rooms or even barbecues. As research of Chief Inspectorate of Environmental Protection (Główny Inspektorat Ochrony Środowiska- GIOŚ) shows, main source of this kind of air poluttion are low quality domestic heating stoves. Particular matter can easily penetrate from lungs to bloodstream. The smaller the particle, the more dangerous it is, as it can enter the bloodstream more easily. 

Each column name (except 'UTC time') has numeric prefix. The prefix is sensor id. For example in column named '140_humidity' we can find air humidity mesured by sensor number 140. 

There are 56 sensors, so as a result we get 337 columns (56 times 6 features + one UTC time column).

### The goal

The goal of a project is to build a model for forecasting the amount of particulate matter pm1, pm 2.5 and pm 10, based on prior mesurements.

## Preprocessing and analysis

### Imports

In [1]:
import glob
import os
import numpy as np
import pandas as pd
import folium
import random
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

### Uploading and transforming the data

The data are in separated 12 files- each for one month. We're uploading all files to one dataframe.

In [2]:
def create_data_frame(path_to_files, file_name_end):
    all_data = []
    all_files = glob.glob(os.path.join(path_to_files,file_name_end))
    
    for path in all_files:
        frame = pd.read_csv(path)
        all_data.append(frame)
    
    df = pd.concat(all_data, axis=0, ignore_index=True)
    
    return df

In [3]:
root_path = r'C:\Users\User\PycharmProjects\Air_quality\Data_files'
file_name_like = '*2017.csv'

df = create_data_frame(root_path, file_name_like)

In [4]:
df

,UTC time,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
0,2017-04-01T00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,92.0,101906.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-04-01T01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,92.0,101869.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-04-01T02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,5.0,94.0,101837.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04-01T03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,5.0,92.0,101834.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-04-01T04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,4.0,94.0,101832.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8588,2017-09-30T19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,9.0,83.0,102373.0,...,102337.0,35.0,35.0,72.0,8.0,83.0,102383.0,37.0,36.0,67.0
8589,2017-09-30T20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,8.0,83.0,102374.0,...,102341.0,36.0,37.0,76.0,8.0,83.0,102391.0,37.0,37.0,69.0
8590,2017-09-30T21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,7.0,90.0,102380.0,...,102349.0,38.0,39.0,79.0,6.0,90.0,102402.0,45.0,45.0,79.0
8591,2017-09-30T22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,7.0,88.0,102380.0,...,102355.0,44.0,44.0,87.0,6.0,88.0,102408.0,46.0,46.0,79.0
8592,2017-09-30T23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,5.0,92.0,102390.0,...,102368.0,47.0,48.0,91.0,5.0,92.0,102417.0,39.0,39.0,71.0

We're sorting the data frame by 'UTC time' column.

In [5]:
def sort_by_column(frame, column_name):
    sorted_frame = frame.sort_values(by=column_name)
    sorded_frame = sorted_frame.reset_index(drop=True)
    
    return sorted_frame

In [6]:
df = sort_by_column(df, 'UTC time')
df

,UTC time,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
2713,2017-01-01T00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2714,2017-01-01T01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2715,2017-01-01T02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2716,2017-01-01T03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2717,2017-01-01T04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,2017-12-24T20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,87.0,101736.0,...,101726.0,12.0,15.0,31.0,5.0,85.0,101798.0,13.0,15.0,26.0
2037,2017-12-24T21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,88.0,101776.0,...,101771.0,12.0,14.0,29.0,5.0,85.0,101840.0,12.0,13.0,23.0
2038,2017-12-24T22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,85.0,101785.0,...,101788.0,10.0,12.0,26.0,5.0,82.0,101839.0,10.0,12.0,21.0
2039,2017-12-24T23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,5.0,88.0,101782.0,...,101774.0,9.0,11.0,24.0,5.0,85.0,101837.0,10.0,12.0,21.0
2040,2017-12-25T00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,6.0,88.0,101784.0,...,101774.0,10.0,11.0,23.0,5.0,85.0,101840.0,10.0,11.0,20.0

### Sensor location

To better understand the data we're creating a map with sensor locations.

First we're uploading data frame with sensors locations (from csv file).

In [7]:
def upload_sensor_frame(file_path):
    
    sensor_loc_path = file_path
    sensor_loc_df = pd.read_csv(sensor_loc_path)
    #sensor_loc_df.set_index('id', drop=True)
    
    return sensor_loc_df

In [8]:
sensor_loc_path = r'C:\Users\User\PycharmProjects\Air_quality\Data_files\sensor_locations.csv'
location_frame = upload_sensor_frame(sensor_loc_path)

Now we're creating a map with markers pointing sensor location. After pointing the marker with the cursor, we can see the sensor id.

In [9]:
def create_a_map(start_point, zoom):

    sensor_loc_map = folium.Map(
                                location=start_point,
                                zoom_start= zoom
                              )
    return sensor_loc_map

In [10]:
location=[50.057748,19.961375]
initial_zoom=12

empty_map = create_a_map(location, initial_zoom)

In [11]:
def add_markers(location_df, my_map):
    for _, sensor in location_df.iterrows():
        
        icon_color='blue'
        
        folium.Marker(location = [sensor['latitude'], sensor['longitude']],
                      #popup=sensor['id'],
                      tooltip=sensor['id'],
                      icon=folium.Icon(color=icon_color)
                     ).add_to(my_map)

    return my_map
        
sensor_map = add_markers(location_frame, empty_map)
sensor_map

### Data preparation

Firstly we reset the index. Next we convert UTC time values to datetime.

In [13]:
df = df.reset_index(drop=True)

In [14]:
df['UTC time'] = pd.to_datetime(df['UTC time'])

In [ ]:
Now basic peek into the data frame.

In [16]:
df.head()

,UTC time,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
0,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Columns: 337 entries, UTC time to 895_pm10
dtypes: datetime64[ns](1), float64(336)
memory usage: 22.1 MB

In [146]:
df.describe()

,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,140_pm1,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
count,206.000000,206.000000,1178.000000,1235.000000,1235.000000,1235.000000,6506.000000,6506.000000,6683.000000,6631.000000,...,2653.000000,2653.000000,2653.000000,2653.000000,5443.000000,5443.000000,6337.000000,6337.000000,6337.000000,6337.000000
mean,-5.131068,74.718447,101652.880306,70.830769,75.454251,112.540891,11.464494,80.271288,101639.084842,26.537023,...,101591.979269,29.469280,31.978892,65.852997,10.660665,79.759691,101660.566672,23.879754,23.922519,41.092788
std,2.174645,9.939247,1020.704947,54.853035,66.299222,89.265573,7.630920,17.167440,653.937345,19.283222,...,809.559197,21.697085,27.709362,56.194746,7.864320,19.397843,649.831280,16.803287,20.897541,32.908029
min,-9.000000,38.000000,99160.000000,2.000000,0.000000,3.000000,-6.000000,21.000000,98374.000000,0.000000,...,98372.000000,0.000000,0.000000,0.000000,-7.000000,18.000000,98433.000000,0.000000,0.000000,0.000000
25%,-7.000000,69.000000,100828.500000,33.000000,30.000000,52.000000,6.000000,70.000000,101291.000000,13.000000,...,101116.000000,15.000000,14.000000,27.000000,4.000000,69.000000,101328.000000,13.000000,11.000000,18.000000
50%,-6.000000,77.000000,101726.000000,50.000000,52.000000,87.000000,11.000000,86.000000,101666.000000,23.000000,...,101614.000000,25.000000,25.000000,53.000000,10.000000,85.000000,101686.000000,21.000000,19.000000,33.000000
75%,-4.000000,82.000000,102352.000000,101.000000,107.500000,153.000000,17.000000,93.000000,102064.000000,34.000000,...,102207.000000,37.000000,41.000000,85.000000,16.000000,92.000000,102079.000000,29.000000,30.000000,54.000000
max,2.000000,92.000000,103619.000000,249.000000,314.000000,440.000000,37.000000,115.000000,103155.000000,160.000000,...,103146.000000,151.000000,190.000000,373.000000,34.000000,134.000000,103199.000000,132.000000,159.000000,239.000000

Having data from all sensors in one data frame makes it difficult to analyze. We decide to spread data from each sensor to separate data frame.

There has not beed provided separate frame or column with sensor ids, so we're extracting them from column names.

In [17]:
def get_sensor_ids(data_frame):
    sensor_ids=[]
    for column in data_frame.columns:
        id = column.partition('_')[0]
        if id.isdigit():
            id = int(id)
            sensor_ids.append(id)
    ids = set(sensor_ids)
    ids = list(ids)
    # ids.sort()
    return ids

We're saving them in 'sensor_ids' list.

In [18]:
sensor_ids = get_sensor_ids(df)
sensor_ids

Alter that we create a dictionary with data frames for every sensor. Sensor id i a dictionary key.

In [20]:
def create_sensor_frame(all_sensors_frame, sensor_id):
    sensor_id = str(sensor_id)
    sensor_frame = all_sensors_frame.loc[:,all_sensors_frame.columns.str.startswith(sensor_id)]
    id_series = pd.Series(int(sensor_id), name='sensor_id', index=range(len(all_sensors_frame['UTC time'])))
    sensor_frame = pd.concat([id_series, all_sensors_frame['UTC time'], sensor_frame], axis=1)
    return sensor_frame

,sensor_id,UTC time,142_temperature,142_humidity,142_pressure,142_pm1,142_pm25,142_pm10
0,142,2017-01-01 00:00:00,-4.0,68.0,102279.0,115.0,127.0,196.0
1,142,2017-01-01 01:00:00,-5.0,68.0,102228.0,105.0,116.0,180.0
2,142,2017-01-01 02:00:00,-5.0,66.0,102149.0,110.0,121.0,189.0
3,142,2017-01-01 03:00:00,-5.0,66.0,102097.0,107.0,118.0,184.0
4,142,2017-01-01 04:00:00,-5.0,65.0,102047.0,112.0,123.0,193.0
...,...,...,...,...,...,...,...,...
8588,142,2017-12-24 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8589,142,2017-12-24 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8590,142,2017-12-24 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8591,142,2017-12-24 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8592,142,2017-12-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
def all_sensor_dict(all_data_frame, sensor_list):
    frame_dictionary = {}
    for sensor_id in sensor_list:
        frame_dictionary[sensor_id] = create_sensor_frame(all_data_frame, sensor_id)
    return frame_dictionary

In [23]:
sensor_dict = all_sensor_dict(df, sensor_ids)

## Data analysis

### Repleacing nans.

In [28]:
for sensor_id in sensor_dict:
    sensor_dict[sensor_id].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sensor_id      8593 non-null   int64
 1   UTC time       8593 non-null   datetime64[ns]
 2   3_temperature  206 non-null    float64
 3   3_humidity     206 non-null    float64
 4   3_pressure     1178 non-null   float64
 5   3_pm1          1235 non-null   float64
 6   3_pm25         1235 non-null   float64
 7   3_pm10         1235 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   263_temperature  8423 non-null   float64
 3   263_humidity     8422 non-null   float64
 4   263_pressure     8398 non-null   float64
 5   263_pm1          8423 non-null   float64
 6   263_pm25         8423 non-null   float64
 7   263_pm10         8423 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   140_temperature  6506 non-null   float64
 3   140_humidity     6506 non-null   float64
 4   140_pressure     6683 non-null   float64
 5   140_pm1          6631 non-null   float64
 6   140_pm25         6631 non-null   float64
 7   140_pm10         6631 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   142_temperature  2066 non-null   float64
 3   142_humidity     2065 non-null   float64
 4   142_pressure     2041 non-null   float64
 5   142_pm1          1990 non-null   float64
 6   142_pm25         1990 non-null   float64
 7   142_pm10         1990 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   147_temperature  2301 non-null   float64
 3   147_humidity     2299 non-null   float64
 4   147_pressure     7940 non-null   float64
 5   147_pm1          7965 non-null   float64
 6   147_pm25         7965 non-null   float64
 7   147_pm10         7965 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   808_temperature  1098 non-null   float64
 3   808_humidity     1098 non-null   float64
 4   808_pressure     1147 non-null   float64
 5   808_pm1          1147 non-null   float64
 6   808_pm25         1147 non-null   float64
 7   808_pm10         1147 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   169_temperature  8262 non-null   float64
 3   169_humidity     8260 non-null   float64
 4   169_pressure     8237 non-null   float64
 5   169_pm1          8261 non-null   float64
 6   169_pm25         8262 non-null   float64
 7   169_pm10         8262 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   170_temperature  8460 non-null   float64
 3   170_humidity     8459 non-null   float64
 4   170_pressure     8435 non-null   float64
 5   170_pm1          8460 non-null   float64
 6   170_pm25         8460 non-null   float64
 7   170_pm10         8460 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   171_temperature  8514 non-null   float64
 3   171_humidity     8512 non-null   float64
 4   171_pressure     8489 non-null   float64
 5   171_pm1          8514 non-null   float64
 6   171_pm25         8514 non-null   float64
 7   171_pm10         8514 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   172_temperature  1596 non-null   float64
 3   172_humidity     1596 non-null   float64
 4   172_pressure     8363 non-null   float64
 5   172_pm1          8388 non-null   float64
 6   172_pm25         8388 non-null   float64
 7   172_pm10         8388 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   173_temperature  8192 non-null   float64
 3   173_humidity     8190 non-null   float64
 4   173_pressure     8474 non-null   float64
 5   173_pm1          8499 non-null   float64
 6   173_pm25         8499 non-null   float64
 7   173_pm10         8499 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   174_temperature  7385 non-null   float64
 3   174_humidity     7383 non-null   float64
 4   174_pressure     7360 non-null   float64
 5   174_pm1          7385 non-null   float64
 6   174_pm25         7385 non-null   float64
 7   174_pm10         7385 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   176_temperature  8537 non-null   float64
 3   176_humidity     8535 non-null   float64
 4   176_pressure     1739 non-null   float64
 5   176_pm1          8537 non-null   float64
 6   176_pm25         8537 non-null   float64
 7   176_pm10         8537 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   177_temperature  7775 non-null   float64
 3   177_humidity     7773 non-null   float64
 4   177_pressure     5548 non-null   float64
 5   177_pm1          7775 non-null   float64
 6   177_pm25         7775 non-null   float64
 7   177_pm10         7775 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   178_temperature  1976 non-null   float64
 3   178_humidity     1976 non-null   float64
 4   178_pressure     0 non-null      float64
 5   178_pm1          2005 non-null   float64
 6   178_pm25         2005 non-null   float64
 7   178_pm10         2005 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   179_temperature  8452 non-null   float64
 3   179_humidity     8450 non-null   float64
 4   179_pressure     1573 non-null   float64
 5   179_pm1          8452 non-null   float64
 6   179_pm25         8452 non-null   float64
 7   179_pm10         8452 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   180_temperature  8560 non-null   float64
 3   180_humidity     8559 non-null   float64
 4   180_pressure     1738 non-null   float64
 5   180_pm1          8561 non-null   float64
 6   180_pm25         8561 non-null   float64
 7   180_pm10         8561 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   181_temperature  8366 non-null   float64
 3   181_humidity     8364 non-null   float64
 4   181_pressure     1734 non-null   float64
 5   181_pm1          8366 non-null   float64
 6   181_pm25         8366 non-null   float64
 7   181_pm10         8366 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   182_temperature  7529 non-null   float64
 3   182_humidity     7526 non-null   float64
 4   182_pressure     1701 non-null   float64
 5   182_pm1          7535 non-null   float64
 6   182_pm25         7535 non-null   float64
 7   182_pm10         7535 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   183_temperature  8123 non-null   float64
 3   183_humidity     8121 non-null   float64
 4   183_pressure     954 non-null    float64
 5   183_pm1          8127 non-null   float64
 6   183_pm25         8127 non-null   float64
 7   183_pm10         8127 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   184_temperature  8295 non-null   float64
 3   184_humidity     8293 non-null   float64
 4   184_pressure     1733 non-null   float64
 5   184_pm1          8298 non-null   float64
 6   184_pm25         8298 non-null   float64
 7   184_pm10         8298 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   185_temperature  7859 non-null   float64
 3   185_humidity     7856 non-null   float64
 4   185_pressure     1458 non-null   float64
 5   185_pm1          7869 non-null   float64
 6   185_pm25         7869 non-null   float64
 7   185_pm10         7869 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   187_temperature  2420 non-null   float64
 3   187_humidity     2419 non-null   float64
 4   187_pressure     2396 non-null   float64
 5   187_pm1          2421 non-null   float64
 6   187_pm25         2421 non-null   float64
 7   187_pm10         2421 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   189_temperature  8462 non-null   float64
 3   189_humidity     8460 non-null   float64
 4   189_pressure     8437 non-null   float64
 5   189_pm1          8461 non-null   float64
 6   189_pm25         8462 non-null   float64
 7   189_pm10         8462 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   192_temperature  8384 non-null   float64
 3   192_humidity     8382 non-null   float64
 4   192_pressure     8359 non-null   float64
 5   192_pm1          8383 non-null   float64
 6   192_pm25         8384 non-null   float64
 7   192_pm10         8384 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   194_temperature  8332 non-null   float64
 3   194_humidity     8329 non-null   float64
 4   194_pressure     8305 non-null   float64
 5   194_pm1          8331 non-null   float64
 6   194_pm25         8330 non-null   float64
 7   194_pm10         8330 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   195_temperature  7285 non-null   float64
 3   195_humidity     7284 non-null   float64
 4   195_pressure     7260 non-null   float64
 5   195_pm1          7285 non-null   float64
 6   195_pm25         7285 non-null   float64
 7   195_pm10         7285 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   196_temperature  8484 non-null   float64
 3   196_humidity     8483 non-null   float64
 4   196_pressure     1730 non-null   float64
 5   196_pm1          8485 non-null   float64
 6   196_pm25         8485 non-null   float64
 7   196_pm10         8485 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   201_temperature  8407 non-null   float64
 3   201_humidity     8405 non-null   float64
 4   201_pressure     1739 non-null   float64
 5   201_pm1          8408 non-null   float64
 6   201_pm25         8408 non-null   float64
 7   201_pm10         8408 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   202_temperature  8274 non-null   float64
 3   202_humidity     8273 non-null   float64
 4   202_pressure     8249 non-null   float64
 5   202_pm1          8273 non-null   float64
 6   202_pm25         8274 non-null   float64
 7   202_pm10         8274 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   203_temperature  7006 non-null   float64
 3   203_humidity     7004 non-null   float64
 4   203_pressure     0 non-null      float64
 5   203_pm1          7006 non-null   float64
 6   203_pm25         7006 non-null   float64
 7   203_pm10         7006 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   211_temperature  1449 non-null   float64
 3   211_humidity     1448 non-null   float64
 4   211_pressure     1424 non-null   float64
 5   211_pm1          1449 non-null   float64
 6   211_pm25         1449 non-null   float64
 7   211_pm10         1449 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   212_temperature  8585 non-null   float64
 3   212_humidity     8584 non-null   float64
 4   212_pressure     8560 non-null   float64
 5   212_pm1          8585 non-null   float64
 6   212_pm25         8585 non-null   float64
 7   212_pm10         8585 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   213_temperature  3971 non-null   float64
 3   213_humidity     3969 non-null   float64
 4   213_pressure     4041 non-null   float64
 5   213_pm1          4066 non-null   float64
 6   213_pm25         4066 non-null   float64
 7   213_pm10         4066 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   214_temperature  8551 non-null   float64
 3   214_humidity     8550 non-null   float64
 4   214_pressure     8526 non-null   float64
 5   214_pm1          8551 non-null   float64
 6   214_pm25         8551 non-null   float64
 7   214_pm10         8551 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   215_temperature  8394 non-null   float64
 3   215_humidity     8392 non-null   float64
 4   215_pressure     8369 non-null   float64
 5   215_pm1          8394 non-null   float64
 6   215_pm25         8394 non-null   float64
 7   215_pm10         8394 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   216_temperature  4519 non-null   float64
 3   216_humidity     4517 non-null   float64
 4   216_pressure     4496 non-null   float64
 5   216_pm1          4519 non-null   float64
 6   216_pm25         4519 non-null   float64
 7   216_pm10         4519 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   857_temperature  2647 non-null   float64
 3   857_humidity     2647 non-null   float64
 4   857_pressure     2653 non-null   float64
 5   857_pm1          2653 non-null   float64
 6   857_pm25         2653 non-null   float64
 7   857_pm10         2653 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   218_temperature  8551 non-null   float64
 3   218_humidity     8549 non-null   float64
 4   218_pressure     8526 non-null   float64
 5   218_pm1          8550 non-null   float64
 6   218_pm25         8551 non-null   float64
 7   218_pm10         8551 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   219_temperature  8236 non-null   float64
 3   219_humidity     8234 non-null   float64
 4   219_pressure     8211 non-null   float64
 5   219_pm1          8236 non-null   float64
 6   219_pm25         8236 non-null   float64
 7   219_pm10         8236 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   220_temperature  8561 non-null   float64
 3   220_humidity     8559 non-null   float64
 4   220_pressure     8536 non-null   float64
 5   220_pm1          8561 non-null   float64
 6   220_pm25         8561 non-null   float64
 7   220_pm10         8561 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   221_temperature  8551 non-null   float64
 3   221_humidity     8550 non-null   float64
 4   221_pressure     8526 non-null   float64
 5   221_pm1          8551 non-null   float64
 6   221_pm25         8551 non-null   float64
 7   221_pm10         8551 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   222_temperature  8510 non-null   float64
 3   222_humidity     8509 non-null   float64
 4   222_pressure     8485 non-null   float64
 5   222_pm1          8497 non-null   float64
 6   222_pm25         8505 non-null   float64
 7   222_pm10         8507 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   223_temperature  8502 non-null   float64
 3   223_humidity     8500 non-null   float64
 4   223_pressure     8477 non-null   float64
 5   223_pm1          8502 non-null   float64
 6   223_pm25         8502 non-null   float64
 7   223_pm10         8502 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   225_temperature  8431 non-null   float64
 3   225_humidity     8429 non-null   float64
 4   225_pressure     8406 non-null   float64
 5   225_pm1          8430 non-null   float64
 6   225_pm25         8431 non-null   float64
 7   225_pm10         8431 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   226_temperature  8579 non-null   float64
 3   226_humidity     8577 non-null   float64
 4   226_pressure     8554 non-null   float64
 5   226_pm1          8578 non-null   float64
 6   226_pm25         8579 non-null   float64
 7   226_pm10         8579 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   227_temperature  2926 non-null   float64
 3   227_humidity     2924 non-null   float64
 4   227_pressure     4175 non-null   float64
 5   227_pm1          4196 non-null   float64
 6   227_pm25         4199 non-null   float64
 7   227_pm10         4200 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   228_temperature  8529 non-null   float64
 3   228_humidity     8527 non-null   float64
 4   228_pressure     8504 non-null   float64
 5   228_pm1          8529 non-null   float64
 6   228_pm25         8529 non-null   float64
 7   228_pm10         8529 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   622_temperature  5315 non-null   float64
 3   622_humidity     5315 non-null   float64
 4   622_pressure     5579 non-null   float64
 5   622_pm1          5579 non-null   float64
 6   622_pm25         5579 non-null   float64
 7   622_pm10         5579 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   895_temperature  5443 non-null   float64
 3   895_humidity     5443 non-null   float64
 4   895_pressure     6337 non-null   float64
 5   895_pm1          6337 non-null   float64
 6   895_pm25         6337 non-null   float64
 7   895_pm10         6337 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB

It seems that many sensors has missing values. We start by identifying the ratio of nans in each column.

In [29]:
def nans_ratio(data_frame):
    print('Liczba brakujących wartości w poszczególnych kolumnach:')
    column_names = data_frame.columns
    for column in column_names:
        print(column,': ', ((data_frame[column].isnull().sum())/len(data_frame[column])).round(2))

In [30]:
for sensor_id in sensor_dict:
    nans_ratio(sensor_dict[sensor_id])

Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
3_temperature :  0.98
3_humidity :  0.98
3_pressure :  0.86
3_pm1 :  0.86
3_pm25 :  0.86
3_pm10 :  0.86
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
263_temperature :  0.02
263_humidity :  0.02
263_pressure :  0.02
263_pm1 :  0.02
263_pm25 :  0.02
263_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
140_temperature :  0.24
140_humidity :  0.24
140_pressure :  0.22
140_pm1 :  0.23
140_pm25 :  0.23
140_pm10 :  0.23
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
142_temperature :  0.76
142_humidity :  0.76
142_pressure :  0.76
142_pm1 :  0.77
142_pm25 :  0.77
142_pm10 :  0.77
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
147_temperature :  0.73
147_humidity :  0.73
147_pressure :  0.08
147_pm1 :  0.07
147_pm25 :  0.07
147_pm10 :  0.07
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
808_temperature :  0.87
808_humidity :  0.87
808_pressure :  0.87
808_pm1 :  0.87
808_pm25 :  0.87
808_pm10 :  0.87
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
169_temperature :  0.04
169_humidity :  0.04
169_pressure :  0.04
169_pm1 :  0.04
169_pm25 :  0.04
169_pm10 :  0.04
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
170_temperature :  0.02
170_humidity :  0.02
170_pressure :  0.02
170_pm1 :  0.02
170_pm25 :  0.02
170_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
171_temperature :  0.01
171_humidity :  0.01
171_pressure :  0.01
171_pm1 :  0.01
171_pm25 :  0.01
171_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
172_temperature :  0.81
172_humidity :  0.81
172_pressure :  0.03
172_pm1 :  0.02
172_pm25 :  0.02
172_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
173_temperature :  0.05
173_humidity :  0.05
173_pressure :  0.01
173_pm1 :  0.01
173_pm25 :  0.01
173_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
174_temperature :  0.14
174_humidity :  0.14
174_pressure :  0.14
174_pm1 :  0.14
174_pm25 :  0.14
174_pm10 :  0.14
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
176_temperature :  0.01
176_humidity :  0.01
176_pressure :  0.8
176_pm1 :  0.01
176_pm25 :  0.01
176_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
177_temperature :  0.1
177_humidity :  0.1
177_pressure :  0.35
177_pm1 :  0.1
177_pm25 :  0.1
177_pm10 :  0.1
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
178_temperature :  0.77
178_humidity :  0.77
178_pressure :  1.0
178_pm1 :  0.77
178_pm25 :  0.77
178_pm10 :  0.77
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
179_temperature :  0.02
179_humidity :  0.02
179_pressure :  0.82
179_pm1 :  0.02
179_pm25 :  0.02
179_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
180_temperature :  0.0
180_humidity :  0.0
180_pressure :  0.8
180_pm1 :  0.0
180_pm25 :  0.0
180_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
181_temperature :  0.03
181_humidity :  0.03
181_pressure :  0.8
181_pm1 :  0.03
181_pm25 :  0.03
181_pm10 :  0.03
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
182_temperature :  0.12
182_humidity :  0.12
182_pressure :  0.8
182_pm1 :  0.12
182_pm25 :  0.12
182_pm10 :  0.12
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
183_temperature :  0.05
183_humidity :  0.05
183_pressure :  0.89
183_pm1 :  0.05
183_pm25 :  0.05
183_pm10 :  0.05
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
184_temperature :  0.03
184_humidity :  0.03
184_pressure :  0.8
184_pm1 :  0.03
184_pm25 :  0.03
184_pm10 :  0.03
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
185_temperature :  0.09
185_humidity :  0.09
185_pressure :  0.83
185_pm1 :  0.08
185_pm25 :  0.08
185_pm10 :  0.08
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
187_temperature :  0.72
187_humidity :  0.72
187_pressure :  0.72
187_pm1 :  0.72
187_pm25 :  0.72
187_pm10 :  0.72
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
189_temperature :  0.02
189_humidity :  0.02
189_pressure :  0.02
189_pm1 :  0.02
189_pm25 :  0.02
189_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
192_temperature :  0.02
192_humidity :  0.02
192_pressure :  0.03
192_pm1 :  0.02
192_pm25 :  0.02
192_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
194_temperature :  0.03
194_humidity :  0.03
194_pressure :  0.03
194_pm1 :  0.03
194_pm25 :  0.03
194_pm10 :  0.03
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
195_temperature :  0.15
195_humidity :  0.15
195_pressure :  0.16
195_pm1 :  0.15
195_pm25 :  0.15
195_pm10 :  0.15
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
196_temperature :  0.01
196_humidity :  0.01
196_pressure :  0.8
196_pm1 :  0.01
196_pm25 :  0.01
196_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
201_temperature :  0.02
201_humidity :  0.02
201_pressure :  0.8
201_pm1 :  0.02
201_pm25 :  0.02
201_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
202_temperature :  0.04
202_humidity :  0.04
202_pressure :  0.04
202_pm1 :  0.04
202_pm25 :  0.04
202_pm10 :  0.04
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
203_temperature :  0.18
203_humidity :  0.18
203_pressure :  1.0
203_pm1 :  0.18
203_pm25 :  0.18
203_pm10 :  0.18
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
204_temperature :  0.01
204_humidity :  0.01
204_pressure :  0.01
204_pm1 :  0.01
204_pm25 :  0.01
204_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
205_temperature :  0.71
205_humidity :  0.71
205_pressure :  0.84
205_pm1 :  0.71
205_pm25 :  0.71
205_pm10 :  0.71
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
713_temperature :  0.68
713_humidity :  0.68
713_pressure :  0.65
713_pm1 :  0.65
713_pm25 :  0.65
713_pm10 :  0.65
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
208_temperature :  0.06
208_humidity :  0.06
208_pressure :  0.07
208_pm1 :  0.06
208_pm25 :  0.06
208_pm10 :  0.06
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
209_temperature :  0.09
209_humidity :  0.09
209_pressure :  0.09
209_pm1 :  0.09
209_pm25 :  0.09
209_pm10 :  0.09
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
210_temperature :  0.05
210_humidity :  0.05
210_pressure :  0.06
210_pm1 :  0.05
210_pm25 :  0.05
210_pm10 :  0.05
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
211_temperature :  0.83
211_humidity :  0.83
211_pressure :  0.83
211_pm1 :  0.83
211_pm25 :  0.83
211_pm10 :  0.83
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
212_temperature :  0.0
212_humidity :  0.0
212_pressure :  0.0
212_pm1 :  0.0
212_pm25 :  0.0
212_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
213_temperature :  0.54
213_humidity :  0.54
213_pressure :  0.53
213_pm1 :  0.53
213_pm25 :  0.53
213_pm10 :  0.53
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
214_temperature :  0.0
214_humidity :  0.01
214_pressure :  0.01
214_pm1 :  0.0
214_pm25 :  0.0
214_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
215_temperature :  0.02
215_humidity :  0.02
215_pressure :  0.03
215_pm1 :  0.02
215_pm25 :  0.02
215_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
216_temperature :  0.47
216_humidity :  0.47
216_pressure :  0.48
216_pm1 :  0.47
216_pm25 :  0.47
216_pm10 :  0.47
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
857_temperature :  0.69
857_humidity :  0.69
857_pressure :  0.69
857_pm1 :  0.69
857_pm25 :  0.69
857_pm10 :  0.69
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
218_temperature :  0.0
218_humidity :  0.01
218_pressure :  0.01
218_pm1 :  0.01
218_pm25 :  0.0
218_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
219_temperature :  0.04
219_humidity :  0.04
219_pressure :  0.04
219_pm1 :  0.04
219_pm25 :  0.04
219_pm10 :  0.04
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
220_temperature :  0.0
220_humidity :  0.0
220_pressure :  0.01
220_pm1 :  0.0
220_pm25 :  0.0
220_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
221_temperature :  0.0
221_humidity :  0.01
221_pressure :  0.01
221_pm1 :  0.0
221_pm25 :  0.0
221_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
222_temperature :  0.01
222_humidity :  0.01
222_pressure :  0.01
222_pm1 :  0.01
222_pm25 :  0.01
222_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
223_temperature :  0.01
223_humidity :  0.01
223_pressure :  0.01
223_pm1 :  0.01
223_pm25 :  0.01
223_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
225_temperature :  0.02
225_humidity :  0.02
225_pressure :  0.02
225_pm1 :  0.02
225_pm25 :  0.02
225_pm10 :  0.02
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
226_temperature :  0.0
226_humidity :  0.0
226_pressure :  0.0
226_pm1 :  0.0
226_pm25 :  0.0
226_pm10 :  0.0
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
227_temperature :  0.66
227_humidity :  0.66
227_pressure :  0.51
227_pm1 :  0.51
227_pm25 :  0.51
227_pm10 :  0.51
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
228_temperature :  0.01
228_humidity :  0.01
228_pressure :  0.01
228_pm1 :  0.01
228_pm25 :  0.01
228_pm10 :  0.01
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
622_temperature :  0.38
622_humidity :  0.38
622_pressure :  0.35
622_pm1 :  0.35
622_pm25 :  0.35
622_pm10 :  0.35
Liczba brakujących wartości w poszczególnych kolumnach:
sensor_id :  0.0
UTC time :  0.0
895_temperature :  0.37
895_humidity :  0.37
895_pressure :  0.26
895_pm1 :  0.26
895_pm25 :  0.26
895_pm10 :  0.26

We can see that ratios can vary from nearly 0 to nearly 100. To handle such diversity in the amount of nans, we decide to split the process into few steps.

At first we select the columns where missing data exceed 45%.

In [31]:
def high_nans_ratio(data_frame):
    column_names = data_frame.columns
    for column in column_names:
        nan_ratio = ((data_frame[column].isnull().sum())/len(data_frame[column])).round(2)
        if nan_ratio > 0.45:
            print(column,': ', nan_ratio)

In [32]:
def apply_function(dict_of_frames, function):
    for sensor_id in dict_of_frames:
        function(dict_of_frames[sensor_id])

In [33]:
apply_function(sensor_dict, high_nans_ratio)

3_temperature :  0.98
3_humidity :  0.98
3_pressure :  0.86
3_pm1 :  0.86
3_pm25 :  0.86
3_pm10 :  0.86
142_temperature :  0.76
142_humidity :  0.76
142_pressure :  0.76
142_pm1 :  0.77
142_pm25 :  0.77
142_pm10 :  0.77
147_temperature :  0.73
147_humidity :  0.73
808_temperature :  0.87
808_humidity :  0.87
808_pressure :  0.87
808_pm1 :  0.87
808_pm25 :  0.87
808_pm10 :  0.87
172_temperature :  0.81
172_humidity :  0.81
176_pressure :  0.8
178_temperature :  0.77
178_humidity :  0.77
178_pressure :  1.0
178_pm1 :  0.77
178_pm25 :  0.77
178_pm10 :  0.77
179_pressure :  0.82
180_pressure :  0.8
181_pressure :  0.8
182_pressure :  0.8
183_pressure :  0.89
184_pressure :  0.8
185_pressure :  0.83
187_temperature :  0.72
187_humidity :  0.72
187_pressure :  0.72
187_pm1 :  0.72
187_pm25 :  0.72
187_pm10 :  0.72
196_pressure :  0.8
201_pressure :  0.8
203_pressure :  1.0
205_temperature :  0.71
205_humidity :  0.71
205_pressure :  0.84
205_pm1 :  0.71
205_pm25 :  0.71
205_pm10 :  0.71
713_temperature :  0.68
713_humidity :  0.68
713_pressure :  0.65
713_pm1 :  0.65
713_pm25 :  0.65
713_pm10 :  0.65
211_temperature :  0.83
211_humidity :  0.83
211_pressure :  0.83
211_pm1 :  0.83
211_pm25 :  0.83
211_pm10 :  0.83
213_temperature :  0.54
213_humidity :  0.54
213_pressure :  0.53
213_pm1 :  0.53
213_pm25 :  0.53
213_pm10 :  0.53
857_temperature :  0.69
857_humidity :  0.69
857_pressure :  0.69
857_pm1 :  0.69
857_pm25 :  0.69
857_pm10 :  0.69
227_temperature :  0.66
227_humidity :  0.66
227_pressure :  0.51
227_pm1 :  0.51
227_pm25 :  0.51
227_pm10 :  0.51

We can see that, there are sensors where there are more than 45% lack of data in every column. Completing such a large amount of data could cause problems in model training, so we decided to exclude these sensors from further analysis.

In [35]:
def high_nans_removal(data_frame_dict):
    dropped_frames_miss_6 = {}
    new_data_frame_dict = {}
    for dict_key in sensor_dict:
    #for k, frame in enumerate(data_frame_dict):
        n_missing_cols = (sensor_dict[dict_key].isna().sum() / len(sensor_dict[dict_key]) > 0.45).sum()
        
        if n_missing_cols == 6:
            dropped_frames_miss_6[dict_key]=sensor_dict[dict_key]
        else:
            #new_data_frame_list.append(frame)
            new_data_frame_dict[dict_key]=sensor_dict[dict_key]
            
    return new_data_frame_dict, dropped_frames_miss_6

In [38]:
new_sensor_dict, dropped_frames = high_nans_removal(sensor_dict)

After excluding sensors with insuficient amount of data, we check if there are any columns with lack of data exceeding 45% left.

In [40]:
apply_function(new_sensor_dict, high_nans_ratio)

147_temperature :  0.73
147_humidity :  0.73
172_temperature :  0.81
172_humidity :  0.81
176_pressure :  0.8
179_pressure :  0.82
180_pressure :  0.8
181_pressure :  0.8
182_pressure :  0.8
183_pressure :  0.89
184_pressure :  0.8
185_pressure :  0.83
196_pressure :  0.8
201_pressure :  0.8
203_pressure :  1.0

There are still columns with high nan ratios, however there are columns for temperature, humidity and pressure. This features do not change drasticly in small geographical areas, so we decide to complete the data with measurements from other sensor. We choose sensor to take data from based on geographical proximity and neighbourhood similarity. We also need to avoid using the same sensor twice, or extracting data from excluded sensors.

In [44]:
new_sensor_dict[172]['172_temperature'] = new_sensor_dict[170]['170_temperature']

In [45]:
new_sensor_dict[172]['172_humidity'] = new_sensor_dict[170]['170_humidity']

In [46]:
new_sensor_dict[196]['196_pressure'].isna().sum()

6863

In [47]:
new_sensor_dict[196]['196_pressure'] = new_sensor_dict[214]['214_pressure']

In [48]:
new_sensor_dict[196]['196_pressure'].isna().sum()

67

In [49]:
new_sensor_dict[180]['180_pressure'].isna().sum()

6855

In [50]:
new_sensor_dict[180]['180_pressure'] = new_sensor_dict[223]['223_pressure']

In [51]:
new_sensor_dict[180]['180_pressure'].isna().sum()

116

In [52]:
new_sensor_dict[201]['201_pressure'].isna().sum()

6854

In [53]:
new_sensor_dict[201]['201_pressure'] = new_sensor_dict[196]['196_pressure']

In [54]:
new_sensor_dict[201]['201_pressure'].isna().sum()

67

In [55]:
new_sensor_dict[179]['179_pressure'].isna().sum()

7020

In [56]:
new_sensor_dict[179]['179_pressure'] = new_sensor_dict[220]['220_pressure']

In [57]:
new_sensor_dict[179]['179_pressure'].isna().sum()

57

In [58]:
new_sensor_dict[147]['147_temperature'].isna().sum()

6292

In [59]:
new_sensor_dict[147]['147_humidity'].isna().sum()

6294

In [60]:
new_sensor_dict[147]['147_temperature'] = new_sensor_dict[189]['189_temperature']
new_sensor_dict[147]['147_humidity'] = new_sensor_dict[189]['189_humidity']

In [61]:
new_sensor_dict[147]['147_temperature'].isna().sum(), new_sensor_dict[147]['147_humidity'].isna().sum()

(131, 133)

In [62]:
new_sensor_dict[184]['184_pressure'].isna().sum()

6860

In [63]:
new_sensor_dict[184]['184_pressure'] = new_sensor_dict[173]['173_pressure']

In [64]:
new_sensor_dict[184]['184_pressure'].isna().sum()

119

In [65]:
new_sensor_dict[182]['182_pressure'].isna().sum()

6892

In [66]:
new_sensor_dict[182]['182_pressure'] = new_sensor_dict[180]['180_pressure']

In [67]:
new_sensor_dict[182]['182_pressure'].isna().sum()

116

In [68]:
new_sensor_dict[176]['176_pressure'].isna().sum()

6854

In [69]:
new_sensor_dict[176]['176_pressure'] = new_sensor_dict[147]['147_pressure']

In [70]:
new_sensor_dict[176]['176_pressure'].isna().sum()

653

In [71]:
new_sensor_dict[183]['183_pressure'].isna().sum()

7639

In [72]:
new_sensor_dict[183]['183_pressure'] = new_sensor_dict[209]['209_pressure']

In [73]:
new_sensor_dict[183]['183_pressure'].isna().sum()

792

In [74]:
new_sensor_dict[181]['181_pressure'].isna().sum()

6859

In [75]:
new_sensor_dict[181]['181_pressure'] = new_sensor_dict[204]['204_pressure']

In [76]:
new_sensor_dict[181]['181_pressure'].isna().sum()

77

In [77]:
new_sensor_dict[203]['203_pressure'].isna().sum()

8593

In [78]:
new_sensor_dict[203]['203_pressure'] = new_sensor_dict[194]['194_pressure']

In [79]:
new_sensor_dict[203]['203_pressure'].isna().sum()

288

In [80]:
new_sensor_dict[185]['185_pressure'].isna().sum()

7135

In [81]:
new_sensor_dict[185]['185_pressure'] = new_sensor_dict[192]['192_pressure']

In [82]:
new_sensor_dict[185]['185_pressure'].isna().sum()

234

In [83]:
# def nans_ratio(data_frame):
#     column_names = data_frame.columns
#     for column in column_names:
#         nan_ratio = ((data_frame[column].isnull().sum())/len(data_frame[column])).round(2)
#         print(column,': ', nan_ratio)

In [84]:
apply_function(new_sensor_dict, nans_ratio)

sensor_id :  0.0
UTC time :  0.0
263_temperature :  0.02
263_humidity :  0.02
263_pressure :  0.02
263_pm1 :  0.02
263_pm25 :  0.02
263_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
140_temperature :  0.24
140_humidity :  0.24
140_pressure :  0.22
140_pm1 :  0.23
140_pm25 :  0.23
140_pm10 :  0.23
sensor_id :  0.0
UTC time :  0.0
147_temperature :  0.02
147_humidity :  0.02
147_pressure :  0.08
147_pm1 :  0.07
147_pm25 :  0.07
147_pm10 :  0.07
sensor_id :  0.0
UTC time :  0.0
169_temperature :  0.04
169_humidity :  0.04
169_pressure :  0.04
169_pm1 :  0.04
169_pm25 :  0.04
169_pm10 :  0.04
sensor_id :  0.0
UTC time :  0.0
170_temperature :  0.02
170_humidity :  0.02
170_pressure :  0.02
170_pm1 :  0.02
170_pm25 :  0.02
170_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
171_temperature :  0.01
171_humidity :  0.01
171_pressure :  0.01
171_pm1 :  0.01
171_pm25 :  0.01
171_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
172_temperature :  0.02
172_humidity :  0.02
172_pressure :  0.03
172_pm1 :  0.02
172_pm25 :  0.02
172_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
173_temperature :  0.05
173_humidity :  0.05
173_pressure :  0.01
173_pm1 :  0.01
173_pm25 :  0.01
173_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
174_temperature :  0.14
174_humidity :  0.14
174_pressure :  0.14
174_pm1 :  0.14
174_pm25 :  0.14
174_pm10 :  0.14
sensor_id :  0.0
UTC time :  0.0
176_temperature :  0.01
176_humidity :  0.01
176_pressure :  0.08
176_pm1 :  0.01
176_pm25 :  0.01
176_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
177_temperature :  0.1
177_humidity :  0.1
177_pressure :  0.35
177_pm1 :  0.1
177_pm25 :  0.1
177_pm10 :  0.1
sensor_id :  0.0
UTC time :  0.0
179_temperature :  0.02
179_humidity :  0.02
179_pressure :  0.01
179_pm1 :  0.02
179_pm25 :  0.02
179_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
180_temperature :  0.0
180_humidity :  0.0
180_pressure :  0.01
180_pm1 :  0.0
180_pm25 :  0.0
180_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
181_temperature :  0.03
181_humidity :  0.03
181_pressure :  0.01
181_pm1 :  0.03
181_pm25 :  0.03
181_pm10 :  0.03
sensor_id :  0.0
UTC time :  0.0
182_temperature :  0.12
182_humidity :  0.12
182_pressure :  0.01
182_pm1 :  0.12
182_pm25 :  0.12
182_pm10 :  0.12
sensor_id :  0.0
UTC time :  0.0
183_temperature :  0.05
183_humidity :  0.05
183_pressure :  0.09
183_pm1 :  0.05
183_pm25 :  0.05
183_pm10 :  0.05
sensor_id :  0.0
UTC time :  0.0
184_temperature :  0.03
184_humidity :  0.03
184_pressure :  0.01
184_pm1 :  0.03
184_pm25 :  0.03
184_pm10 :  0.03
sensor_id :  0.0
UTC time :  0.0
185_temperature :  0.09
185_humidity :  0.09
185_pressure :  0.03
185_pm1 :  0.08
185_pm25 :  0.08
185_pm10 :  0.08
sensor_id :  0.0
UTC time :  0.0
189_temperature :  0.02
189_humidity :  0.02
189_pressure :  0.02
189_pm1 :  0.02
189_pm25 :  0.02
189_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
192_temperature :  0.02
192_humidity :  0.02
192_pressure :  0.03
192_pm1 :  0.02
192_pm25 :  0.02
192_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
194_temperature :  0.03
194_humidity :  0.03
194_pressure :  0.03
194_pm1 :  0.03
194_pm25 :  0.03
194_pm10 :  0.03
sensor_id :  0.0
UTC time :  0.0
195_temperature :  0.15
195_humidity :  0.15
195_pressure :  0.16
195_pm1 :  0.15
195_pm25 :  0.15
195_pm10 :  0.15
sensor_id :  0.0
UTC time :  0.0
196_temperature :  0.01
196_humidity :  0.01
196_pressure :  0.01
196_pm1 :  0.01
196_pm25 :  0.01
196_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
201_temperature :  0.02
201_humidity :  0.02
201_pressure :  0.01
201_pm1 :  0.02
201_pm25 :  0.02
201_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
202_temperature :  0.04
202_humidity :  0.04
202_pressure :  0.04
202_pm1 :  0.04
202_pm25 :  0.04
202_pm10 :  0.04
sensor_id :  0.0
UTC time :  0.0
203_temperature :  0.18
203_humidity :  0.18
203_pressure :  0.03
203_pm1 :  0.18
203_pm25 :  0.18
203_pm10 :  0.18
sensor_id :  0.0
UTC time :  0.0
204_temperature :  0.01
204_humidity :  0.01
204_pressure :  0.01
204_pm1 :  0.01
204_pm25 :  0.01
204_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
208_temperature :  0.06
208_humidity :  0.06
208_pressure :  0.07
208_pm1 :  0.06
208_pm25 :  0.06
208_pm10 :  0.06
sensor_id :  0.0
UTC time :  0.0
209_temperature :  0.09
209_humidity :  0.09
209_pressure :  0.09
209_pm1 :  0.09
209_pm25 :  0.09
209_pm10 :  0.09
sensor_id :  0.0
UTC time :  0.0
210_temperature :  0.05
210_humidity :  0.05
210_pressure :  0.06
210_pm1 :  0.05
210_pm25 :  0.05
210_pm10 :  0.05
sensor_id :  0.0
UTC time :  0.0
212_temperature :  0.0
212_humidity :  0.0
212_pressure :  0.0
212_pm1 :  0.0
212_pm25 :  0.0
212_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
214_temperature :  0.0
214_humidity :  0.01
214_pressure :  0.01
214_pm1 :  0.0
214_pm25 :  0.0
214_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
215_temperature :  0.02
215_humidity :  0.02
215_pressure :  0.03
215_pm1 :  0.02
215_pm25 :  0.02
215_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
218_temperature :  0.0
218_humidity :  0.01
218_pressure :  0.01
218_pm1 :  0.01
218_pm25 :  0.0
218_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
219_temperature :  0.04
219_humidity :  0.04
219_pressure :  0.04
219_pm1 :  0.04
219_pm25 :  0.04
219_pm10 :  0.04
sensor_id :  0.0
UTC time :  0.0
220_temperature :  0.0
220_humidity :  0.0
220_pressure :  0.01
220_pm1 :  0.0
220_pm25 :  0.0
220_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
221_temperature :  0.0
221_humidity :  0.01
221_pressure :  0.01
221_pm1 :  0.0
221_pm25 :  0.0
221_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
222_temperature :  0.01
222_humidity :  0.01
222_pressure :  0.01
222_pm1 :  0.01
222_pm25 :  0.01
222_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
223_temperature :  0.01
223_humidity :  0.01
223_pressure :  0.01
223_pm1 :  0.01
223_pm25 :  0.01
223_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
225_temperature :  0.02
225_humidity :  0.02
225_pressure :  0.02
225_pm1 :  0.02
225_pm25 :  0.02
225_pm10 :  0.02
sensor_id :  0.0
UTC time :  0.0
226_temperature :  0.0
226_humidity :  0.0
226_pressure :  0.0
226_pm1 :  0.0
226_pm25 :  0.0
226_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
228_temperature :  0.01
228_humidity :  0.01
228_pressure :  0.01
228_pm1 :  0.01
228_pm25 :  0.01
228_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
622_temperature :  0.38
622_humidity :  0.38
622_pressure :  0.35
622_pm1 :  0.35
622_pm25 :  0.35
622_pm10 :  0.35
sensor_id :  0.0
UTC time :  0.0
895_temperature :  0.37
895_humidity :  0.37
895_pressure :  0.26
895_pm1 :  0.26
895_pm25 :  0.26
895_pm10 :  0.26

In [85]:
def nans_ratio_above_10proc(data_frame):
    #print('Liczba brakujących wartości w poszczególnych kolumnach:')
    column_names = data_frame.columns
    for column in column_names:
        nan_ratio = ((data_frame[column].isnull().sum())/len(data_frame[column])).round(2)
        if nan_ratio > 0.1:
            print(column,': ', nan_ratio)

In [86]:
apply_function(new_sensor_dict, nans_ratio_above_10proc)

140_temperature :  0.24
140_humidity :  0.24
140_pressure :  0.22
140_pm1 :  0.23
140_pm25 :  0.23
140_pm10 :  0.23
174_temperature :  0.14
174_humidity :  0.14
174_pressure :  0.14
174_pm1 :  0.14
174_pm25 :  0.14
174_pm10 :  0.14
177_pressure :  0.35
182_temperature :  0.12
182_humidity :  0.12
182_pm1 :  0.12
182_pm25 :  0.12
182_pm10 :  0.12
195_temperature :  0.15
195_humidity :  0.15
195_pressure :  0.16
195_pm1 :  0.15
195_pm25 :  0.15
195_pm10 :  0.15
203_temperature :  0.18
203_humidity :  0.18
203_pm1 :  0.18
203_pm25 :  0.18
203_pm10 :  0.18
622_temperature :  0.38
622_humidity :  0.38
622_pressure :  0.35
622_pm1 :  0.35
622_pm25 :  0.35
622_pm10 :  0.35
895_temperature :  0.37
895_humidity :  0.37
895_pressure :  0.26
895_pm1 :  0.26
895_pm25 :  0.26
895_pm10 :  0.26

In [87]:
def nans_ratio_below_2proc(data_frame):
    #print('Liczba brakujących wartości w poszczególnych kolumnach:')
    column_names = data_frame.columns
    for column in column_names:
        nan_ratio = ((data_frame[column].isnull().sum())/len(data_frame[column])).round(2)
        if nan_ratio < 0.015:
            print(column,': ', nan_ratio)

In [88]:
apply_function(new_sensor_dict, nans_ratio_below_2proc)

sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
171_temperature :  0.01
171_humidity :  0.01
171_pressure :  0.01
171_pm1 :  0.01
171_pm25 :  0.01
171_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
173_pressure :  0.01
173_pm1 :  0.01
173_pm25 :  0.01
173_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
176_temperature :  0.01
176_humidity :  0.01
176_pm1 :  0.01
176_pm25 :  0.01
176_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
179_pressure :  0.01
sensor_id :  0.0
UTC time :  0.0
180_temperature :  0.0
180_humidity :  0.0
180_pressure :  0.01
180_pm1 :  0.0
180_pm25 :  0.0
180_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
181_pressure :  0.01
sensor_id :  0.0
UTC time :  0.0
182_pressure :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
184_pressure :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
196_temperature :  0.01
196_humidity :  0.01
196_pressure :  0.01
196_pm1 :  0.01
196_pm25 :  0.01
196_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
201_pressure :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
204_temperature :  0.01
204_humidity :  0.01
204_pressure :  0.01
204_pm1 :  0.01
204_pm25 :  0.01
204_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
212_temperature :  0.0
212_humidity :  0.0
212_pressure :  0.0
212_pm1 :  0.0
212_pm25 :  0.0
212_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
214_temperature :  0.0
214_humidity :  0.01
214_pressure :  0.01
214_pm1 :  0.0
214_pm25 :  0.0
214_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
218_temperature :  0.0
218_humidity :  0.01
218_pressure :  0.01
218_pm1 :  0.01
218_pm25 :  0.0
218_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
220_temperature :  0.0
220_humidity :  0.0
220_pressure :  0.01
220_pm1 :  0.0
220_pm25 :  0.0
220_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
221_temperature :  0.0
221_humidity :  0.01
221_pressure :  0.01
221_pm1 :  0.0
221_pm25 :  0.0
221_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
222_temperature :  0.01
222_humidity :  0.01
222_pressure :  0.01
222_pm1 :  0.01
222_pm25 :  0.01
222_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
223_temperature :  0.01
223_humidity :  0.01
223_pressure :  0.01
223_pm1 :  0.01
223_pm25 :  0.01
223_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0
226_temperature :  0.0
226_humidity :  0.0
226_pressure :  0.0
226_pm1 :  0.0
226_pm25 :  0.0
226_pm10 :  0.0
sensor_id :  0.0
UTC time :  0.0
228_temperature :  0.01
228_humidity :  0.01
228_pressure :  0.01
228_pm1 :  0.01
228_pm25 :  0.01
228_pm10 :  0.01
sensor_id :  0.0
UTC time :  0.0
sensor_id :  0.0
UTC time :  0.0

In [89]:
def nan_ratio_for_frame(sensor_dictionary):
    nan_ratio_sums = {}
    for key in sensor_dictionary:
        column_names = sensor_dictionary[key].columns
        nan_ratio_sum = 0
        for column in column_names:
            nan_ratio= ((sensor_dictionary[key][column].isnull().sum())/(len(sensor_dictionary[key][column])))
            nan_ratio_sum += nan_ratio
        nan_ratio_sums[key] = nan_ratio_sum
    return nan_ratio_sums

In [90]:
nan_results = nan_ratio_for_frame(new_sensor_dict)

In [91]:
def ten_min_values(ratio_sums_dict):
    top_10_values = sorted(ratio_sums_dict.values())[:10]
    final_score = []
    for value in top_10_values:
        for key in ratio_sums_dict:
            if ratio_sums_dict[key] == value:
                final_score.append(key)
    return set(final_score)

In [92]:
min_nan_ratio_sensors = ten_min_values(nan_results)
min_nan_ratio_sensors

{171, 180, 204, 212, 214, 218, 220, 221, 226, 228}

In [93]:
new_sensor_dict[212]

,sensor_id,UTC time,212_temperature,212_humidity,212_pressure,212_pm1,212_pm25,212_pm10
0,212,2017-01-01 00:00:00,0.0,29.0,101435.0,107.0,123.0,196.0
1,212,2017-01-01 01:00:00,0.0,28.0,101387.0,123.0,144.0,227.0
2,212,2017-01-01 02:00:00,0.0,28.0,101302.0,120.0,140.0,224.0
3,212,2017-01-01 03:00:00,0.0,27.0,101250.0,104.0,119.0,190.0
4,212,2017-01-01 04:00:00,0.0,25.0,101204.0,88.0,100.0,161.0
...,...,...,...,...,...,...,...,...
8588,212,2017-12-24 20:00:00,6.0,77.0,101624.0,10.0,11.0,19.0
8589,212,2017-12-24 21:00:00,5.0,77.0,101659.0,9.0,10.0,18.0
8590,212,2017-12-24 22:00:00,5.0,74.0,101658.0,7.0,8.0,15.0
8591,212,2017-12-24 23:00:00,5.0,77.0,101649.0,7.0,8.0,14.0
8592,212,2017-12-25 00:00:00,5.0,77.0,101659.0,5.0,7.0,12.0

In [94]:
column_name = str(212) + '_pressure'
column_name

'212_pressure'

In [95]:
def pascals_to_hectopascals(sensors_dictionary):
    for key in sensors_dictionary:
        column_name = str(key) + '_pressure'
        new_sensor_dict[key][column_name] = new_sensor_dict[key][column_name]/100

In [96]:
pascals_to_hectopascals(new_sensor_dict)

In [97]:
new_sensor_dict[212]

,sensor_id,UTC time,212_temperature,212_humidity,212_pressure,212_pm1,212_pm25,212_pm10
0,212,2017-01-01 00:00:00,0.0,29.0,1014.35,107.0,123.0,196.0
1,212,2017-01-01 01:00:00,0.0,28.0,1013.87,123.0,144.0,227.0
2,212,2017-01-01 02:00:00,0.0,28.0,1013.02,120.0,140.0,224.0
3,212,2017-01-01 03:00:00,0.0,27.0,1012.50,104.0,119.0,190.0
4,212,2017-01-01 04:00:00,0.0,25.0,1012.04,88.0,100.0,161.0
...,...,...,...,...,...,...,...,...
8588,212,2017-12-24 20:00:00,6.0,77.0,1016.24,10.0,11.0,19.0
8589,212,2017-12-24 21:00:00,5.0,77.0,1016.59,9.0,10.0,18.0
8590,212,2017-12-24 22:00:00,5.0,74.0,1016.58,7.0,8.0,15.0
8591,212,2017-12-24 23:00:00,5.0,77.0,1016.49,7.0,8.0,14.0
8592,212,2017-12-25 00:00:00,5.0,77.0,1016.59,5.0,7.0,12.0

In [98]:
new_sensor_dict[212].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8593 entries, 0 to 8592
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sensor_id        8593 non-null   int64
 1   UTC time         8593 non-null   datetime64[ns]
 2   212_temperature  8585 non-null   float64
 3   212_humidity     8584 non-null   float64
 4   212_pressure     8560 non-null   float64
 5   212_pm1          8585 non-null   float64
 6   212_pm25         8585 non-null   float64
 7   212_pm10         8585 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 537.2 KB

In [99]:
new_sensor_dict[212].loc[546:548,:]

,sensor_id,UTC time,212_temperature,212_humidity,212_pressure,212_pm1,212_pm25,212_pm10
546,212,2017-01-23 18:00:00,-3.0,34.0,1013.02,119.0,138.0,218.0
547,212,2017-01-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
548,212,2017-01-23 20:00:00,-4.0,30.0,1013.64,114.0,134.0,213.0

In [100]:
# shows all rows with nan in any column
new_sensor_dict[212][new_sensor_dict[212].isna().any(axis=1)]

,sensor_id,UTC time,212_temperature,212_humidity,212_pressure,212_pm1,212_pm25,212_pm10
547,212,2017-01-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1189,212,2017-02-19 13:00:00,4.0,81.0,NaN,19.0,15.0,27.0
1190,212,2017-02-19 14:00:00,3.0,79.0,NaN,27.0,25.0,43.0
1191,212,2017-02-19 15:00:00,3.0,78.0,NaN,32.0,31.0,53.0
1192,212,2017-02-19 16:00:00,3.0,76.0,NaN,32.0,32.0,53.0
1193,212,2017-02-19 17:00:00,1.0,76.0,NaN,31.0,30.0,51.0
1194,212,2017-02-19 18:00:00,1.0,76.0,NaN,32.0,31.0,53.0
1195,212,2017-02-19 19:00:00,0.0,75.0,NaN,38.0,39.0,66.0
1196,212,2017-02-19 20:00:00,0.0,75.0,NaN,49.0,51.0,82.0
1197,212,2017-02-19 21:00:00,0.0,74.0,NaN,63.0,68.0,99.0
1198,212,2017-02-19 22:00:00,0.0,75.0,NaN,45.0,46.0,77.0
1199,212,2017-02-19 23:00:00,0.0,76.0,NaN,45.0,46.0,77.0
1200,212,2017-02-20 00:00:00,0.0,76.0,NaN,40.0,41.0,68.0
1201,212,2017-02-20 01:00:00,0.0,78.0,NaN,39.0,39.0,66.0
1202,212,2017-02-20 02:00:00,0.0,79.0,NaN,33.0,32.0,54.0
1203,212,2017-02-20 03:00:00,0.0,79.0,NaN,33.0,32.0,54.0
1204,212,2017-02-20 04:00:00,0.0,82.0,NaN,29.0,28.0,46.0
1205,212,2017-02-20 05:00:00,0.0,84.0,NaN,28.0,26.0,43.0
1206,212,2017-02-20 06:00:00,0.0,85.0,NaN,34.0,34.0,57.0
1207,212,2017-02-20 07:00:00,3.0,82.0,NaN,43.0,43.0,71.0
1208,212,2017-02-20 08:00:00,5.0,78.0,NaN,37.0,36.0,61.0
1209,212,2017-02-20 09:00:00,4.0,78.0,NaN,33.0,33.0,55.0
1210,212,2017-02-20 10:00:00,5.0,77.0,NaN,25.0,23.0,40.0
1211,212,2017-02-20 11:00:00,6.0,76.0,NaN,23.0,21.0,36.0
1212,212,2017-02-20 12:00:00,6.0,77.0,NaN,24.0,22.0,38.0
1213,212,2017-02-20 13:00:00,5.0,75.0,NaN,25.0,23.0,38.0
1239,212,2017-02-21 15:00:00,5.0,NaN,1005.37,9.0,4.0,12.0
3163,212,2017-05-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,212,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,212,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,212,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,212,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,212,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,212,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# temperature = new_sensor_dict[212]['212_temperature']


# for index, value in enumerate(temperature):
#     print(type(value))
#     if np.isnan(value) and index !=0:
#         prev_val = temperature[index-1]
#         print(prev_val)
#         temperature[index]=prev_val

In [102]:
def replace_nan_with_prev(data_frame):
    for column in data_frame:
        if column[0:3].isdigit():
            for index, value in enumerate(data_frame[column]):
                float(value)
                if np.isnan([value]) and index !=0:
                    prev_val = data_frame[column][index-1]
                    data_frame[column][index]=prev_val

In [103]:
# sensors chosen to model
min_nan_ratio_sensors

{171, 180, 204, 212, 214, 218, 220, 221, 226, 228}

In [104]:
replace_nan_with_prev(new_sensor_dict[212])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [105]:
new_sensor_dict[212][new_sensor_dict[212].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 212_temperature, 212_humidity, 212_pressure, 212_pm1, 212_pm25, 212_pm10]
Index: []

In [106]:
new_sensor_dict[226][new_sensor_dict[226].isna().any(axis=1)]

,sensor_id,UTC time,226_temperature,226_humidity,226_pressure,226_pm1,226_pm25,226_pm10
1189,226,2017-02-19 13:00:00,3.0,82.0,NaN,21.0,17.0,30.0
1190,226,2017-02-19 14:00:00,3.0,81.0,NaN,28.0,26.0,43.0
1191,226,2017-02-19 15:00:00,3.0,81.0,NaN,29.0,28.0,46.0
1192,226,2017-02-19 16:00:00,2.0,78.0,NaN,19.0,15.0,26.0
1193,226,2017-02-19 17:00:00,1.0,78.0,NaN,23.0,20.0,33.0
1194,226,2017-02-19 18:00:00,1.0,79.0,NaN,35.0,34.0,58.0
1195,226,2017-02-19 19:00:00,0.0,79.0,NaN,43.0,43.0,71.0
1196,226,2017-02-19 20:00:00,0.0,78.0,NaN,54.0,55.0,88.0
1197,226,2017-02-19 21:00:00,0.0,77.0,NaN,54.0,56.0,89.0
1198,226,2017-02-19 22:00:00,0.0,78.0,NaN,56.0,58.0,91.0
1199,226,2017-02-19 23:00:00,0.0,79.0,NaN,46.0,47.0,79.0
1200,226,2017-02-20 00:00:00,0.0,79.0,NaN,44.0,44.0,74.0
1201,226,2017-02-20 01:00:00,0.0,80.0,NaN,44.0,45.0,75.0
1202,226,2017-02-20 02:00:00,0.0,81.0,NaN,39.0,39.0,65.0
1203,226,2017-02-20 03:00:00,0.0,82.0,NaN,35.0,34.0,56.0
1204,226,2017-02-20 04:00:00,0.0,83.0,NaN,33.0,32.0,53.0
1205,226,2017-02-20 05:00:00,0.0,87.0,NaN,38.0,38.0,63.0
1206,226,2017-02-20 06:00:00,0.0,87.0,NaN,51.0,52.0,81.0
1207,226,2017-02-20 07:00:00,1.0,84.0,NaN,66.0,68.0,100.0
1208,226,2017-02-20 08:00:00,3.0,81.0,NaN,53.0,54.0,85.0
1209,226,2017-02-20 09:00:00,3.0,80.0,NaN,28.0,26.0,44.0
1210,226,2017-02-20 10:00:00,4.0,79.0,NaN,21.0,18.0,31.0
1211,226,2017-02-20 11:00:00,5.0,78.0,NaN,25.0,23.0,37.0
1212,226,2017-02-20 12:00:00,5.0,79.0,NaN,27.0,25.0,42.0
1213,226,2017-02-20 13:00:00,5.0,77.0,NaN,28.0,26.0,43.0
1239,226,2017-02-21 15:00:00,5.0,NaN,1006.35,12.0,7.0,16.0
1289,226,2017-02-23 17:00:00,5.0,NaN,997.60,12.0,6.0,14.0
2064,226,2017-03-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2065,226,2017-03-28 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2066,226,2017-03-28 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2067,226,2017-03-28 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2068,226,2017-03-28 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3163,226,2017-05-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,226,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,226,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,226,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,226,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,226,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,226,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7228,226,2017-10-29 04:00:00,5.0,86.0,990.34,NaN,0.0,0.0
7902,226,2017-11-26 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7903,226,2017-11-26 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
replace_nan_with_prev(new_sensor_dict[226])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [108]:
new_sensor_dict[226][new_sensor_dict[226].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 226_temperature, 226_humidity, 226_pressure, 226_pm1, 226_pm25, 226_pm10]
Index: []

In [109]:
new_sensor_dict[220][new_sensor_dict[220].isna().any(axis=1)]

,sensor_id,UTC time,220_temperature,220_humidity,220_pressure,220_pm1,220_pm25,220_pm10
547,220,2017-01-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1189,220,2017-02-19 13:00:00,4.0,79.0,NaN,23.0,20.0,34.0
1190,220,2017-02-19 14:00:00,4.0,78.0,NaN,36.0,35.0,58.0
1191,220,2017-02-19 15:00:00,3.0,79.0,NaN,34.0,33.0,56.0
1192,220,2017-02-19 16:00:00,2.0,76.0,NaN,31.0,30.0,51.0
1193,220,2017-02-19 17:00:00,1.0,76.0,NaN,33.0,32.0,54.0
1194,220,2017-02-19 18:00:00,1.0,76.0,NaN,36.0,36.0,60.0
1195,220,2017-02-19 19:00:00,0.0,76.0,NaN,47.0,47.0,79.0
1196,220,2017-02-19 20:00:00,0.0,75.0,NaN,51.0,52.0,86.0
1197,220,2017-02-19 21:00:00,0.0,75.0,NaN,66.0,67.0,100.0
1198,220,2017-02-19 22:00:00,0.0,76.0,NaN,68.0,69.0,103.0
1199,220,2017-02-19 23:00:00,0.0,77.0,NaN,89.0,93.0,131.0
1200,220,2017-02-20 00:00:00,0.0,77.0,NaN,89.0,92.0,131.0
1201,220,2017-02-20 01:00:00,0.0,78.0,NaN,90.0,94.0,132.0
1202,220,2017-02-20 02:00:00,0.0,79.0,NaN,68.0,69.0,104.0
1203,220,2017-02-20 03:00:00,0.0,79.0,NaN,63.0,64.0,100.0
1204,220,2017-02-20 04:00:00,0.0,82.0,NaN,62.0,62.0,100.0
1205,220,2017-02-20 05:00:00,0.0,84.0,NaN,65.0,66.0,102.0
1206,220,2017-02-20 06:00:00,0.0,85.0,NaN,78.0,78.0,112.0
1207,220,2017-02-20 07:00:00,1.0,81.0,NaN,77.0,78.0,112.0
1208,220,2017-02-20 08:00:00,3.0,78.0,NaN,50.0,51.0,84.0
1209,220,2017-02-20 09:00:00,3.0,78.0,NaN,36.0,35.0,60.0
1210,220,2017-02-20 10:00:00,4.0,78.0,NaN,29.0,28.0,48.0
1211,220,2017-02-20 11:00:00,5.0,77.0,NaN,25.0,23.0,39.0
1212,220,2017-02-20 12:00:00,6.0,77.0,NaN,25.0,23.0,39.0
1213,220,2017-02-20 13:00:00,5.0,76.0,NaN,26.0,24.0,42.0
1239,220,2017-02-21 15:00:00,6.0,NaN,1005.64,17.0,12.0,24.0
1289,220,2017-02-23 17:00:00,5.0,NaN,996.97,26.0,23.0,38.0
3163,220,2017-05-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,220,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,220,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,220,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,220,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,220,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,220,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5192,220,2017-08-05 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5203,220,2017-08-05 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5204,220,2017-08-05 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5205,220,2017-08-05 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5206,220,2017-08-05 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5207,220,2017-08-05 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8268,220,2017-12-11 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8269,220,2017-12-11 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8270,220,2017-12-11 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8271,220,2017-12-11 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8272,220,2017-12-11 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8273,220,2017-12-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8274,220,2017-12-11 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8275,220,2017-12-11 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8276,220,2017-12-11 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8277,220,2017-12-11 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8278,220,2017-12-11 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8279,220,2017-12-11 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8280,220,2017-12-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8281,220,2017-12-12 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8282,220,2017-12-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8283,220,2017-12-12 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8284,220,2017-12-12 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8285,220,2017-12-12 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN

**dopytać o tę uwagę**

In [110]:
replace_nan_with_prev(new_sensor_dict[220])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [111]:
new_sensor_dict[220][new_sensor_dict[220].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 220_temperature, 220_humidity, 220_pressure, 220_pm1, 220_pm25, 220_pm10]
Index: []

In [112]:
set(min_nan_ratio_sensors)

{171, 180, 204, 212, 214, 218, 220, 221, 226, 228}

In [113]:
pd.set_option('display.max_rows',200)

In [114]:
new_sensor_dict[171][new_sensor_dict[171].isna().any(axis=1)]

,sensor_id,UTC time,171_temperature,171_humidity,171_pressure,171_pm1,171_pm25,171_pm10
547,171,2017-01-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1189,171,2017-02-19 13:00:00,4.0,81.0,NaN,25.0,22.0,37.0
1190,171,2017-02-19 14:00:00,4.0,79.0,NaN,28.0,26.0,46.0
1191,171,2017-02-19 15:00:00,4.0,78.0,NaN,34.0,33.0,56.0
1192,171,2017-02-19 16:00:00,3.0,76.0,NaN,32.0,30.0,52.0
1193,171,2017-02-19 17:00:00,1.0,76.0,NaN,30.0,29.0,48.0
1194,171,2017-02-19 18:00:00,1.0,76.0,NaN,37.0,36.0,61.0
1195,171,2017-02-19 19:00:00,1.0,76.0,NaN,46.0,46.0,76.0
1196,171,2017-02-19 20:00:00,0.0,74.0,NaN,54.0,55.0,86.0
1197,171,2017-02-19 21:00:00,0.0,75.0,NaN,68.0,71.0,103.0
1198,171,2017-02-19 22:00:00,0.0,76.0,NaN,72.0,75.0,107.0
1199,171,2017-02-19 23:00:00,0.0,78.0,NaN,83.0,88.0,124.0
1200,171,2017-02-20 00:00:00,0.0,77.0,NaN,95.0,102.0,142.0
1201,171,2017-02-20 01:00:00,0.0,77.0,NaN,98.0,105.0,146.0
1202,171,2017-02-20 02:00:00,0.0,79.0,NaN,92.0,97.0,136.0
1203,171,2017-02-20 03:00:00,0.0,78.0,NaN,88.0,93.0,130.0
1204,171,2017-02-20 04:00:00,0.0,81.0,NaN,94.0,99.0,138.0
1205,171,2017-02-20 05:00:00,0.0,83.0,NaN,96.0,101.0,139.0
1206,171,2017-02-20 06:00:00,0.0,84.0,NaN,92.0,96.0,133.0
1207,171,2017-02-20 07:00:00,2.0,82.0,NaN,82.0,84.0,117.0
1208,171,2017-02-20 08:00:00,4.0,78.0,NaN,52.0,51.0,79.0
1209,171,2017-02-20 09:00:00,4.0,78.0,NaN,36.0,35.0,60.0
1210,171,2017-02-20 10:00:00,5.0,76.0,NaN,31.0,30.0,52.0
1211,171,2017-02-20 11:00:00,5.0,78.0,NaN,29.0,27.0,47.0
1212,171,2017-02-20 12:00:00,6.0,76.0,NaN,28.0,26.0,46.0
1213,171,2017-02-20 13:00:00,5.0,75.0,NaN,29.0,27.0,47.0
1239,171,2017-02-21 15:00:00,6.0,NaN,1005.99,11.0,6.0,15.0
1289,171,2017-02-23 17:00:00,6.0,NaN,997.42,27.0,25.0,42.0
1400,171,2017-02-28 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1401,171,2017-02-28 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1402,171,2017-02-28 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1403,171,2017-02-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1404,171,2017-02-28 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1405,171,2017-02-28 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3163,171,2017-05-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,171,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,171,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,171,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,171,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,171,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,171,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5686,171,2017-08-25 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5687,171,2017-08-25 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5853,171,2017-09-01 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5854,171,2017-09-01 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5855,171,2017-09-01 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5856,171,2017-09-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5857,171,2017-09-02 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5858,171,2017-09-02 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5901,171,2017-09-03 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5902,171,2017-09-03 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5903,171,2017-09-03 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5904,171,2017-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5905,171,2017-09-04 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5906,171,2017-09-04 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5925,171,2017-09-04 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5926,171,2017-09-04 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5927,171,2017-09-04 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5928,171,2017-09-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5929,171,2017-09-05 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5930,171,2017-09-05 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5931,171,2017-09-05 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5932,171,2017-09-05 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5933,171,2017-09-05 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5949,171,2017-09-05 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5950,171,2017-09-05 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5951,171,2017-09-05 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5952,171,2017-09-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5953,171,2017-09-06 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5954,171,2017-09-06 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5955,171,2017-09-06 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5956,171,2017-09-06 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5957,171,2017-09-06 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5973,171,2017-09-06 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5974,171,2017-09-06 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5975,171,2017-09-06 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5976,171,2017-09-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5977,171,2017-09-07 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5978,171,2017-09-07 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5979,171,2017-09-07 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5980,171,2017-09-07 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5997,171,2017-09-07 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5998,171,2017-09-07 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5999,171,2017-09-07 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6000,171,2017-09-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6001,171,2017-09-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6002,171,2017-09-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6022,171,2017-09-08 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6023,171,2017-09-08 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6024,171,2017-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6045,171,2017-09-09 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6046,171,2017-09-09 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6047,171,2017-09-09 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6048,171,2017-09-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6049,171,2017-09-10 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6050,171,2017-09-10 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6051,171,2017-09-10 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6052,171,2017-09-10 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6053,171,2017-09-10 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6054,171,2017-09-10 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6516,171,2017-09-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7029,171,2017-10-20 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7030,171,2017-10-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7031,171,2017-10-20 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7032,171,2017-10-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7033,171,2017-10-21 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
replace_nan_with_prev(new_sensor_dict[171])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [116]:
new_sensor_dict[171][new_sensor_dict[171].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 171_temperature, 171_humidity, 171_pressure, 171_pm1, 171_pm25, 171_pm10]
Index: []

In [117]:
new_sensor_dict[180][new_sensor_dict[180].isna().any(axis=1)]

,sensor_id,UTC time,180_temperature,180_humidity,180_pressure,180_pm1,180_pm25,180_pm10
371,180,2017-01-16 11:00:00,NaN,NaN,1019.48,35.0,34.0,63.0
428,180,2017-01-18 20:00:00,NaN,NaN,1038.60,NaN,NaN,NaN
429,180,2017-01-18 21:00:00,NaN,NaN,1038.53,NaN,NaN,NaN
430,180,2017-01-18 22:00:00,NaN,NaN,1038.34,NaN,NaN,NaN
431,180,2017-01-18 23:00:00,NaN,NaN,1038.01,NaN,NaN,NaN
432,180,2017-01-19 00:00:00,NaN,NaN,1037.90,NaN,NaN,NaN
433,180,2017-01-19 01:00:00,NaN,NaN,1037.99,NaN,NaN,NaN
434,180,2017-01-19 02:00:00,NaN,NaN,1038.01,NaN,NaN,NaN
435,180,2017-01-19 03:00:00,NaN,NaN,1037.93,NaN,NaN,NaN
436,180,2017-01-19 04:00:00,NaN,NaN,1037.49,NaN,NaN,NaN
437,180,2017-01-19 05:00:00,NaN,NaN,1037.32,NaN,NaN,NaN
438,180,2017-01-19 06:00:00,NaN,NaN,1037.55,NaN,NaN,NaN
439,180,2017-01-19 07:00:00,NaN,NaN,1037.67,NaN,NaN,NaN
440,180,2017-01-19 08:00:00,NaN,NaN,1037.87,NaN,NaN,NaN
476,180,2017-01-20 20:00:00,NaN,NaN,1031.88,NaN,NaN,NaN
481,180,2017-01-21 01:00:00,NaN,NaN,1031.49,NaN,NaN,NaN
547,180,2017-01-23 19:00:00,NaN,NaN,1022.67,NaN,NaN,NaN
694,180,2017-01-29 22:00:00,NaN,NaN,1024.24,NaN,NaN,NaN
1017,180,2017-02-12 09:00:00,NaN,NaN,1033.56,NaN,NaN,NaN
1018,180,2017-02-12 10:00:00,NaN,NaN,1033.55,NaN,NaN,NaN
1019,180,2017-02-12 11:00:00,NaN,NaN,1033.56,NaN,NaN,NaN
1020,180,2017-02-12 12:00:00,NaN,NaN,1033.55,NaN,NaN,NaN
1021,180,2017-02-12 13:00:00,NaN,NaN,1033.30,NaN,NaN,NaN
1022,180,2017-02-12 14:00:00,NaN,NaN,1033.34,NaN,NaN,NaN
1023,180,2017-02-12 15:00:00,NaN,NaN,1033.40,NaN,NaN,NaN
1189,180,2017-02-19 13:00:00,4.0,91.0,NaN,25.0,21.0,36.0
1190,180,2017-02-19 14:00:00,4.0,89.0,NaN,24.0,19.0,32.0
1191,180,2017-02-19 15:00:00,4.0,89.0,NaN,29.0,26.0,45.0
1192,180,2017-02-19 16:00:00,3.0,88.0,NaN,25.0,21.0,36.0
1193,180,2017-02-19 17:00:00,1.0,88.0,NaN,27.0,25.0,42.0
1194,180,2017-02-19 18:00:00,1.0,88.0,NaN,34.0,33.0,56.0
1195,180,2017-02-19 19:00:00,1.0,87.0,NaN,43.0,42.0,71.0
1196,180,2017-02-19 20:00:00,0.0,86.0,NaN,55.0,54.0,86.0
1197,180,2017-02-19 21:00:00,0.0,86.0,NaN,45.0,45.0,76.0
1198,180,2017-02-19 22:00:00,0.0,88.0,NaN,37.0,37.0,63.0
1199,180,2017-02-19 23:00:00,0.0,88.0,NaN,31.0,29.0,49.0
1200,180,2017-02-20 00:00:00,0.0,88.0,NaN,31.0,29.0,48.0
1201,180,2017-02-20 01:00:00,0.0,89.0,NaN,29.0,25.0,42.0
1202,180,2017-02-20 02:00:00,0.0,90.0,NaN,31.0,28.0,46.0
1203,180,2017-02-20 03:00:00,1.0,90.0,NaN,30.0,28.0,47.0
1204,180,2017-02-20 04:00:00,0.0,92.0,NaN,29.0,26.0,43.0
1205,180,2017-02-20 05:00:00,0.0,96.0,NaN,31.0,28.0,46.0
1206,180,2017-02-20 06:00:00,0.0,97.0,NaN,35.0,34.0,58.0
1207,180,2017-02-20 07:00:00,1.0,93.0,NaN,37.0,35.0,60.0
1208,180,2017-02-20 08:00:00,3.0,87.0,NaN,40.0,40.0,66.0
1209,180,2017-02-20 09:00:00,4.0,87.0,NaN,26.0,23.0,39.0
1210,180,2017-02-20 10:00:00,5.0,86.0,NaN,21.0,17.0,31.0
1211,180,2017-02-20 11:00:00,6.0,86.0,NaN,25.0,22.0,38.0
1212,180,2017-02-20 12:00:00,6.0,87.0,NaN,27.0,25.0,43.0
1213,180,2017-02-20 13:00:00,6.0,87.0,NaN,28.0,26.0,45.0
1239,180,2017-02-21 15:00:00,6.0,NaN,1007.46,13.0,7.0,15.0
1462,180,2017-03-02 22:00:00,5.0,53.0,NaN,6.0,1.0,8.0
1463,180,2017-03-02 23:00:00,5.0,61.0,NaN,8.0,2.0,9.0
1464,180,2017-03-03 00:00:00,4.0,65.0,NaN,5.0,0.0,5.0
1465,180,2017-03-03 01:00:00,3.0,78.0,NaN,5.0,0.0,5.0
1466,180,2017-03-03 02:00:00,2.0,81.0,NaN,5.0,0.0,6.0
1467,180,2017-03-03 03:00:00,2.0,85.0,NaN,8.0,2.0,10.0
1468,180,2017-03-03 04:00:00,2.0,88.0,NaN,11.0,5.0,13.0
1469,180,2017-03-03 05:00:00,3.0,74.0,NaN,14.0,8.0,17.0
3163,180,2017-05-12 19:00:00,NaN,NaN,1009.49,NaN,NaN,NaN
3926,180,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,180,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,180,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,180,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,180,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,180,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5445,180,2017-08-15 21:00:00,17.0,75.0,NaN,12.0,10.0,17.0
5446,180,2017-08-15 22:00:00,15.0,80.0,NaN,12.0,10.0,18.0
5447,180,2017-08-15 23:00:00,14.0,82.0,NaN,11.0,9.0,15.0
5448,180,2017-08-16 00:00:00,13.0,88.0,NaN,11.0,9.0,15.0
5449,180,2017-08-16 01:00:00,13.0,86.0,NaN,11.0,9.0,15.0
5450,180,2017-08-16 02:00:00,13.0,86.0,NaN,12.0,10.0,17.0
5451,180,2017-08-16 03:00:00,12.0,90.0,NaN,14.0,12.0,19.0
5452,180,2017-08-16 04:00:00,14.0,86.0,NaN,16.0,14.0,23.0
7123,180,2017-10-24 19:00:00,6.0,90.0,NaN,33.0,32.0,56.0
7198,180,2017-10-27 22:00:00,7.0,90.0,NaN,9.0,8.0,14.0
7200,180,2017-10-28 00:00:00,5.0,90.0,NaN,4.0,3.0,5.0
7201,180,2017-10-28 01:00:00,5.0,90.0,NaN,3.0,3.0,5.0
7202,180,2017-10-28 02:00:00,4.0,94.0,NaN,10.0,8.0,14.0
7203,180,2017-10-28 03:00:00,5.0,92.0,NaN,12.0,10.0,17.0
7229,180,2017-10-29 05:00:00,4.0,92.0,NaN,0.0,0.0,0.0
7240,180,2017-10-29 16:00:00,5.0,74.0,NaN,4.0,3.0,6.0
7246,180,2017-10-29 22:00:00,2.0,91.0,NaN,6.0,5.0,9.0
7247,180,2017-10-29 23:00:00,3.0,91.0,NaN,4.0,3.0,6.0
7248,180,2017-10-30 00:00:00,2.0,93.0,NaN,2.0,2.0,4.0
7249,180,2017-10-30 01:00:00,2.0,89.0,NaN,1.0,1.0,2.0
7250,180,2017-10-30 02:00:00,3.0,85.0,NaN,1.0,0.0,1.0
7251,180,2017-10-30 03:00:00,3.0,85.0,NaN,1.0,1.0,2.0
7252,180,2017-10-30 04:00:00,3.0,95.0,NaN,1.0,1.0,1.0
7253,180,2017-10-30 05:00:00,3.0,85.0,NaN,1.0,1.0,2.0
7256,180,2017-10-30 08:00:00,3.0,90.0,NaN,2.0,2.0,4.0
7257,180,2017-10-30 09:00:00,3.0,89.0,NaN,2.0,2.0,4.0
7258,180,2017-10-30 10:00:00,4.0,68.0,NaN,2.0,2.0,3.0
7270,180,2017-10-30 22:00:00,0.0,94.0,NaN,25.0,22.0,37.0
7271,180,2017-10-30 23:00:00,0.0,91.0,NaN,25.0,22.0,38.0
7272,180,2017-10-31 00:00:00,0.0,94.0,NaN,26.0,23.0,39.0
7298,180,2017-11-01 02:00:00,4.0,92.0,NaN,15.0,12.0,21.0
7317,180,2017-11-01 21:00:00,6.0,90.0,NaN,19.0,16.0,27.0
7318,180,2017-11-01 22:00:00,7.0,88.0,NaN,19.0,16.0,27.0
7319,180,2017-11-01 23:00:00,7.0,85.0,NaN,13.0,11.0,18.0
7320,180,2017-11-02 00:00:00,7.0,88.0,NaN,10.0,9.0,15.0
7321,180,2017-11-02 01:00:00,7.0,85.0,NaN,11.0,9.0,15.0
7322,180,2017-11-02 02:00:00,7.0,88.0,NaN,11.0,9.0,15.0
7323,180,2017-11-02 03:00:00,7.0,88.0,NaN,10.0,8.0,14.0
7324,180,2017-11-02 04:00:00,6.0,90.0,NaN,10.0,9.0,15.0
7325,180,2017-11-02 05:00:00,6.0,90.0,NaN,11.0,9.0,16.0
7463,180,2017-11-07 23:00:00,6.0,88.0,NaN,40.0,40.0,70.0
7464,180,2017-11-08 00:00:00,6.0,88.0,NaN,36.0,36.0,64.0
7465,180,2017-11-08 01:00:00,6.0,88.0,NaN,25.0,23.0,40.0
7466,180,2017-11-08 02:00:00,6.0,85.0,NaN,24.0,22.0,39.0
7485,180,2017-11-08 21:00:00,5.0,85.0,NaN,32.0,32.0,55.0
7676,180,2017-11-16 20:00:00,2.0,86.0,NaN,88.0,88.0,124.0
7678,180,2017-11-16 22:00:00,2.0,83.0,NaN,89.0,90.0,127.0
7679,180,2017-11-16 23:00:00,2.0,89.0,NaN,80.0,80.0,113.0
7680,180,2017-11-17 00:00:00,2.0,89.0,NaN,78.0,78.0,110.0
7681,180,2017-11-17 01:00:00,2.0,92.0,NaN,75.0,75.0,106.0
7682,180,2017-11-17 02:00:00,3.0,89.0,NaN,73.0,74.0,104.0
7683,180,2017-11-17 03:00:00,3.0,89.0,NaN,74.0,74.0,105.0
7684,180,2017-11-17 04:00:00,2.0,92.0,NaN,74.0,74.0,105.0
7685,180,2017-11-17 05:00:00,2.0,100.0,NaN,73.0,72.0,103.0
7687,180,2017-11-17 07:00:00,3.0,97.0,NaN,63.0,62.0,90.0
7688,180,2017-11-17 08:00:00,3.0,100.0,NaN,59.0,58.0,87.0
7693,180,2017-11-17 13:00:00,5.0,89.0,NaN,39.0,39.0,68.0
7745,180,2017-11-19 17:00:00,2.0,82.0,NaN,24.0,21.0,36.0
7750,180,2017-11-19 22:00:00,2.0,92.0,NaN,11.0,9.0,15.0
7779,180,2017-11-21 03:00:00,1.0,98.0,NaN,23.0,20.0,34.0
7780,180,2017-11-21 04:00:00,1.0,97.0,NaN,26.0,23.0,38.0
7838,180,2017-11-23 14:00:00,NaN,NaN,1014.65,NaN,NaN,NaN
7846,180,2017-11-23 22:00:00,2.0,97.0,NaN,56.0,56.0,84.0
7847,180,2017-11-23 23:00:00,3.0,97.0,NaN,60.0,60.0,89.0
7848,180,2017-11-24 00:00:00,1.0,99.0,NaN,54.0,54.0,84.0
7849,180,2017-11-24 01:00:00,1.0,94.0,NaN,49.0,48.0,80.0
7850,180,2017-11-24 02:00:00,1.0,94.0,NaN,51.0,51.0,82.0
7851,180,2017-11-24 03:00:00,0.0,100.0,NaN,47.0,46.0,78.0
7852,180,2017-11-24 04:00:00,0.0,97.0,NaN,41.0,41.0,71.0
7870,180,2017-11-24 22:00:00,3.0,100.0,NaN,122.0,125.0,172.0
7871,180,2017-11-24 23:00:00,3.0,97.0,NaN,104.0,107.0,149.0
7872,180,2017-11-25 00:00:00,3.0,100.0,NaN,75.0,76.0,108.0
7873,180,2017-11-25 01:00:00,2.0,100.0,NaN,63.0,64.0,92.0
7874,180,2017-11-25 02:00:00,2.0,94.0,NaN,94.0,96.0,135.0
7875,180,2017-11-25 03:00:00,2.0,97.0,NaN,115.0,118.0,163.0
7876,180,2017-11-25 04:00:00,2.0,97.0,NaN,76.0,77.0,111.0
7877,180,2017-11-25 05:00:00,2.0,97.0,NaN,84.0,85.0,120.0
7878,180,2017-11-25 06:00:00,1.0,80.0,NaN,89.0,89.0,126.0

In [118]:
replace_nan_with_prev(new_sensor_dict[180])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [119]:
new_sensor_dict[171][new_sensor_dict[171].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 171_temperature, 171_humidity, 171_pressure, 171_pm1, 171_pm25, 171_pm10]
Index: []

In [120]:
set(min_nan_ratio_sensors)

{171, 180, 204, 212, 214, 218, 220, 221, 226, 228}

In [121]:
new_sensor_dict[204][new_sensor_dict[204].isna().any(axis=1)]

,sensor_id,UTC time,204_temperature,204_humidity,204_pressure,204_pm1,204_pm25,204_pm10
547,204,2017-01-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1189,204,2017-02-19 13:00:00,4.0,90.0,NaN,29.0,28.0,47.0
1190,204,2017-02-19 14:00:00,4.0,89.0,NaN,33.0,33.0,54.0
1191,204,2017-02-19 15:00:00,4.0,90.0,NaN,34.0,34.0,56.0
1192,204,2017-02-19 16:00:00,3.0,88.0,NaN,30.0,29.0,49.0
1193,204,2017-02-19 17:00:00,2.0,88.0,NaN,31.0,31.0,51.0
1194,204,2017-02-19 18:00:00,2.0,88.0,NaN,40.0,41.0,67.0
1195,204,2017-02-19 19:00:00,1.0,87.0,NaN,53.0,57.0,86.0
1196,204,2017-02-19 20:00:00,0.0,86.0,NaN,75.0,82.0,116.0
1197,204,2017-02-19 21:00:00,0.0,86.0,NaN,86.0,95.0,134.0
1198,204,2017-02-19 22:00:00,0.0,88.0,NaN,54.0,58.0,91.0
1199,204,2017-02-19 23:00:00,1.0,88.0,NaN,50.0,54.0,87.0
1200,204,2017-02-20 00:00:00,1.0,88.0,NaN,44.0,47.0,78.0
1201,204,2017-02-20 01:00:00,1.0,89.0,NaN,40.0,42.0,71.0
1202,204,2017-02-20 02:00:00,1.0,91.0,NaN,42.0,45.0,75.0
1203,204,2017-02-20 03:00:00,1.0,90.0,NaN,47.0,50.0,82.0
1204,204,2017-02-20 04:00:00,1.0,93.0,NaN,53.0,57.0,91.0
1205,204,2017-02-20 05:00:00,0.0,95.0,NaN,53.0,57.0,92.0
1206,204,2017-02-20 06:00:00,0.0,95.0,NaN,54.0,57.0,92.0
1207,204,2017-02-20 07:00:00,2.0,89.0,NaN,52.0,56.0,89.0
1208,204,2017-02-20 08:00:00,4.0,86.0,NaN,40.0,41.0,69.0
1209,204,2017-02-20 09:00:00,4.0,88.0,NaN,32.0,32.0,54.0
1210,204,2017-02-20 10:00:00,5.0,87.0,NaN,25.0,24.0,40.0
1211,204,2017-02-20 11:00:00,6.0,86.0,NaN,27.0,26.0,44.0
1212,204,2017-02-20 12:00:00,6.0,86.0,NaN,27.0,25.0,43.0
1213,204,2017-02-20 13:00:00,6.0,86.0,NaN,30.0,29.0,49.0
1239,204,2017-02-21 15:00:00,6.0,NaN,1006.46,10.0,5.0,13.0
4118,204,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,204,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,204,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,204,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6868,204,2017-10-14 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6869,204,2017-10-14 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6870,204,2017-10-14 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6881,204,2017-10-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6882,204,2017-10-14 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6892,204,2017-10-15 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6893,204,2017-10-15 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6894,204,2017-10-15 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6895,204,2017-10-15 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6905,204,2017-10-15 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6906,204,2017-10-15 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6907,204,2017-10-15 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6953,204,2017-10-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6954,204,2017-10-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6955,204,2017-10-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6956,204,2017-10-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6957,204,2017-10-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6958,204,2017-10-17 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6959,204,2017-10-17 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6960,204,2017-10-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6961,204,2017-10-18 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6962,204,2017-10-18 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6963,204,2017-10-18 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6964,204,2017-10-18 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6965,204,2017-10-18 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6966,204,2017-10-18 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6967,204,2017-10-18 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6968,204,2017-10-18 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6969,204,2017-10-18 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6970,204,2017-10-18 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6971,204,2017-10-18 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6972,204,2017-10-18 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6973,204,2017-10-18 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6974,204,2017-10-18 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6975,204,2017-10-18 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6976,204,2017-10-18 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6977,204,2017-10-18 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6978,204,2017-10-18 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6979,204,2017-10-18 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6980,204,2017-10-18 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6981,204,2017-10-18 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7392,204,2017-11-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7393,204,2017-11-05 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7394,204,2017-11-05 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7610,204,2017-11-14 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8467,204,2017-12-19 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8468,204,2017-12-19 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
replace_nan_with_prev(new_sensor_dict[204])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [123]:
new_sensor_dict[204][new_sensor_dict[204].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 204_temperature, 204_humidity, 204_pressure, 204_pm1, 204_pm25, 204_pm10]
Index: []

In [124]:
new_sensor_dict[214][new_sensor_dict[214].isna().any(axis=1)]

,sensor_id,UTC time,214_temperature,214_humidity,214_pressure,214_pm1,214_pm25,214_pm10
1189,214,2017-02-19 13:00:00,3.0,87.0,NaN,24.0,21.0,36.0
1190,214,2017-02-19 14:00:00,3.0,85.0,NaN,27.0,25.0,42.0
1191,214,2017-02-19 15:00:00,3.0,85.0,NaN,34.0,33.0,56.0
1192,214,2017-02-19 16:00:00,2.0,83.0,NaN,31.0,29.0,48.0
1193,214,2017-02-19 17:00:00,0.0,83.0,NaN,30.0,28.0,46.0
1194,214,2017-02-19 18:00:00,0.0,84.0,NaN,34.0,34.0,57.0
1195,214,2017-02-19 19:00:00,0.0,84.0,NaN,39.0,40.0,67.0
1196,214,2017-02-19 20:00:00,0.0,85.0,NaN,51.0,53.0,87.0
1197,214,2017-02-19 21:00:00,0.0,85.0,NaN,72.0,74.0,109.0
1198,214,2017-02-19 22:00:00,0.0,85.0,NaN,59.0,61.0,97.0
1199,214,2017-02-19 23:00:00,0.0,86.0,NaN,51.0,53.0,88.0
1200,214,2017-02-20 00:00:00,0.0,86.0,NaN,52.0,54.0,89.0
1201,214,2017-02-20 01:00:00,0.0,87.0,NaN,54.0,56.0,93.0
1202,214,2017-02-20 02:00:00,0.0,89.0,NaN,61.0,62.0,102.0
1203,214,2017-02-20 03:00:00,0.0,88.0,NaN,62.0,64.0,104.0
1204,214,2017-02-20 04:00:00,0.0,90.0,NaN,59.0,61.0,101.0
1205,214,2017-02-20 05:00:00,0.0,94.0,NaN,65.0,67.0,107.0
1206,214,2017-02-20 06:00:00,0.0,94.0,NaN,80.0,81.0,118.0
1207,214,2017-02-20 07:00:00,1.0,91.0,NaN,60.0,62.0,98.0
1208,214,2017-02-20 08:00:00,3.0,84.0,NaN,44.0,44.0,74.0
1209,214,2017-02-20 09:00:00,3.0,84.0,NaN,34.0,34.0,57.0
1210,214,2017-02-20 10:00:00,5.0,82.0,NaN,27.0,25.0,42.0
1211,214,2017-02-20 11:00:00,5.0,81.0,NaN,28.0,27.0,46.0
1212,214,2017-02-20 12:00:00,6.0,81.0,NaN,27.0,25.0,44.0
1213,214,2017-02-20 13:00:00,5.0,80.0,NaN,28.0,26.0,45.0
1239,214,2017-02-21 15:00:00,5.0,NaN,1007.62,13.0,8.0,18.0
2592,214,2017-04-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2593,214,2017-04-19 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2594,214,2017-04-19 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2595,214,2017-04-19 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2596,214,2017-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2597,214,2017-04-19 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2598,214,2017-04-19 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2599,214,2017-04-19 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2600,214,2017-04-19 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2601,214,2017-04-19 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2602,214,2017-04-19 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2603,214,2017-04-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2604,214,2017-04-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2605,214,2017-04-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2606,214,2017-04-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2607,214,2017-04-19 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,214,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,214,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4066,214,2017-06-19 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4067,214,2017-06-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4068,214,2017-06-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4069,214,2017-06-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4070,214,2017-06-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,214,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,214,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,214,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,214,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7166,214,2017-10-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8579,214,2017-12-24 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8580,214,2017-12-24 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8581,214,2017-12-24 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8582,214,2017-12-24 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8583,214,2017-12-24 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8584,214,2017-12-24 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8585,214,2017-12-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8586,214,2017-12-24 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8587,214,2017-12-24 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8588,214,2017-12-24 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8589,214,2017-12-24 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8590,214,2017-12-24 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8591,214,2017-12-24 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8592,214,2017-12-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
replace_nan_with_prev(new_sensor_dict[214])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [126]:
new_sensor_dict[214][new_sensor_dict[214].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 214_temperature, 214_humidity, 214_pressure, 214_pm1, 214_pm25, 214_pm10]
Index: []

In [127]:
new_sensor_dict[218][new_sensor_dict[218].isna().any(axis=1)]

,sensor_id,UTC time,218_temperature,218_humidity,218_pressure,218_pm1,218_pm25,218_pm10
1189,218,2017-02-19 13:00:00,4.0,79.0,NaN,42.0,44.0,68.0
1190,218,2017-02-19 14:00:00,3.0,78.0,NaN,58.0,68.0,104.0
1191,218,2017-02-19 15:00:00,4.0,78.0,NaN,39.0,41.0,69.0
1192,218,2017-02-19 16:00:00,3.0,76.0,NaN,64.0,73.0,107.0
1193,218,2017-02-19 17:00:00,1.0,75.0,NaN,62.0,68.0,98.0
1194,218,2017-02-19 18:00:00,1.0,76.0,NaN,60.0,65.0,94.0
1195,218,2017-02-19 19:00:00,0.0,75.0,NaN,71.0,79.0,112.0
1196,218,2017-02-19 20:00:00,0.0,74.0,NaN,76.0,85.0,120.0
1197,218,2017-02-19 21:00:00,0.0,73.0,NaN,87.0,98.0,137.0
1198,218,2017-02-19 22:00:00,0.0,74.0,NaN,82.0,91.0,128.0
1199,218,2017-02-19 23:00:00,0.0,76.0,NaN,62.0,68.0,99.0
1200,218,2017-02-20 00:00:00,0.0,75.0,NaN,44.0,47.0,78.0
1201,218,2017-02-20 01:00:00,0.0,76.0,NaN,39.0,41.0,69.0
1202,218,2017-02-20 02:00:00,0.0,78.0,NaN,36.0,37.0,63.0
1203,218,2017-02-20 03:00:00,0.0,77.0,NaN,36.0,36.0,61.0
1204,218,2017-02-20 04:00:00,0.0,80.0,NaN,33.0,33.0,56.0
1205,218,2017-02-20 05:00:00,0.0,83.0,NaN,37.0,37.0,63.0
1206,218,2017-02-20 06:00:00,0.0,84.0,NaN,53.0,57.0,89.0
1207,218,2017-02-20 07:00:00,4.0,83.0,NaN,67.0,71.0,101.0
1208,218,2017-02-20 08:00:00,7.0,80.0,NaN,49.0,50.0,72.0
1209,218,2017-02-20 09:00:00,7.0,79.0,NaN,29.0,28.0,47.0
1210,218,2017-02-20 10:00:00,6.0,76.0,NaN,25.0,24.0,41.0
1211,218,2017-02-20 11:00:00,6.0,76.0,NaN,25.0,23.0,41.0
1212,218,2017-02-20 12:00:00,6.0,76.0,NaN,25.0,24.0,41.0
1213,218,2017-02-20 13:00:00,5.0,75.0,NaN,37.0,39.0,62.0
1239,218,2017-02-21 15:00:00,6.0,NaN,1008.04,28.0,26.0,45.0
1289,218,2017-02-23 17:00:00,6.0,NaN,999.52,43.0,44.0,70.0
2474,218,2017-04-14 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2475,218,2017-04-14 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2476,218,2017-04-14 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2477,218,2017-04-14 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3764,218,2017-06-06 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3765,218,2017-06-06 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3766,218,2017-06-06 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3767,218,2017-06-06 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3768,218,2017-06-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3769,218,2017-06-07 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3770,218,2017-06-07 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,218,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,218,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,218,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,218,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,218,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,218,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4481,218,2017-07-06 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4581,218,2017-07-10 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4582,218,2017-07-10 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4583,218,2017-07-10 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4584,218,2017-07-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4585,218,2017-07-11 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4586,218,2017-07-11 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4587,218,2017-07-11 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4588,218,2017-07-11 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4589,218,2017-07-11 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4590,218,2017-07-11 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4591,218,2017-07-11 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4592,218,2017-07-11 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4593,218,2017-07-11 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4594,218,2017-07-11 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4595,218,2017-07-11 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4596,218,2017-07-11 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4597,218,2017-07-11 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4598,218,2017-07-11 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4599,218,2017-07-11 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4600,218,2017-07-11 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4601,218,2017-07-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6147,218,2017-09-14 03:00:00,14.0,283.0,1007.93,NaN,0.0,0.0
7233,218,2017-10-29 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7234,218,2017-10-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7235,218,2017-10-29 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
replace_nan_with_prev(new_sensor_dict[218])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [129]:
new_sensor_dict[218][new_sensor_dict[218].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 218_temperature, 218_humidity, 218_pressure, 218_pm1, 218_pm25, 218_pm10]
Index: []

In [130]:
set(min_nan_ratio_sensors)

{171, 180, 204, 212, 214, 218, 220, 221, 226, 228}

In [131]:
new_sensor_dict[221][new_sensor_dict[221].isna().any(axis=1)]

,sensor_id,UTC time,221_temperature,221_humidity,221_pressure,221_pm1,221_pm25,221_pm10
1189,221,2017-02-19 13:00:00,3.0,81.0,NaN,22.0,19.0,33.0
1190,221,2017-02-19 14:00:00,3.0,79.0,NaN,25.0,23.0,40.0
1191,221,2017-02-19 15:00:00,3.0,78.0,NaN,30.0,29.0,51.0
1192,221,2017-02-19 16:00:00,3.0,76.0,NaN,30.0,28.0,49.0
1193,221,2017-02-19 17:00:00,1.0,76.0,NaN,25.0,23.0,38.0
1194,221,2017-02-19 18:00:00,1.0,77.0,NaN,31.0,30.0,52.0
1195,221,2017-02-19 19:00:00,1.0,77.0,NaN,37.0,37.0,63.0
1196,221,2017-02-19 20:00:00,0.0,75.0,NaN,47.0,48.0,77.0
1197,221,2017-02-19 21:00:00,0.0,76.0,NaN,61.0,65.0,93.0
1198,221,2017-02-19 22:00:00,0.0,77.0,NaN,58.0,61.0,90.0
1199,221,2017-02-19 23:00:00,0.0,79.0,NaN,51.0,54.0,85.0
1200,221,2017-02-20 00:00:00,0.0,78.0,NaN,57.0,59.0,89.0
1201,221,2017-02-20 01:00:00,0.0,78.0,NaN,56.0,59.0,89.0
1202,221,2017-02-20 02:00:00,1.0,80.0,NaN,49.0,51.0,83.0
1203,221,2017-02-20 03:00:00,1.0,80.0,NaN,49.0,51.0,82.0
1204,221,2017-02-20 04:00:00,0.0,83.0,NaN,48.0,49.0,81.0
1205,221,2017-02-20 05:00:00,0.0,84.0,NaN,48.0,49.0,81.0
1206,221,2017-02-20 06:00:00,0.0,85.0,NaN,62.0,65.0,94.0
1207,221,2017-02-20 07:00:00,2.0,82.0,NaN,61.0,63.0,92.0
1208,221,2017-02-20 08:00:00,4.0,78.0,NaN,45.0,46.0,75.0
1209,221,2017-02-20 09:00:00,4.0,78.0,NaN,32.0,31.0,53.0
1210,221,2017-02-20 10:00:00,5.0,77.0,NaN,27.0,25.0,45.0
1211,221,2017-02-20 11:00:00,5.0,78.0,NaN,27.0,25.0,45.0
1212,221,2017-02-20 12:00:00,6.0,77.0,NaN,26.0,24.0,43.0
1213,221,2017-02-20 13:00:00,6.0,76.0,NaN,27.0,25.0,44.0
1239,221,2017-02-21 15:00:00,6.0,NaN,1006.12,9.0,4.0,12.0
3163,221,2017-05-12 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,221,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,221,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,221,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,221,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,221,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,221,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5696,221,2017-08-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8130,221,2017-12-05 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8131,221,2017-12-05 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8132,221,2017-12-05 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8133,221,2017-12-05 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8134,221,2017-12-05 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8135,221,2017-12-05 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8136,221,2017-12-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8137,221,2017-12-06 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8138,221,2017-12-06 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8139,221,2017-12-06 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8140,221,2017-12-06 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8141,221,2017-12-06 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8142,221,2017-12-06 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8143,221,2017-12-06 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8144,221,2017-12-06 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8145,221,2017-12-06 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8146,221,2017-12-06 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8147,221,2017-12-06 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8148,221,2017-12-06 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8149,221,2017-12-06 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8150,221,2017-12-06 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8151,221,2017-12-06 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8152,221,2017-12-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8167,221,2017-12-07 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8168,221,2017-12-07 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8169,221,2017-12-07 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8170,221,2017-12-07 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8171,221,2017-12-07 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8172,221,2017-12-07 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8173,221,2017-12-07 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8174,221,2017-12-07 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8175,221,2017-12-07 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8176,221,2017-12-07 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8177,221,2017-12-07 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
replace_nan_with_prev(new_sensor_dict[221])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [133]:
new_sensor_dict[221][new_sensor_dict[221].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 221_temperature, 221_humidity, 221_pressure, 221_pm1, 221_pm25, 221_pm10]
Index: []

In [134]:
new_sensor_dict[226][new_sensor_dict[226].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 226_temperature, 226_humidity, 226_pressure, 226_pm1, 226_pm25, 226_pm10]
Index: []

In [135]:
new_sensor_dict[228][new_sensor_dict[228].isna().any(axis=1)]

,sensor_id,UTC time,228_temperature,228_humidity,228_pressure,228_pm1,228_pm25,228_pm10
1189,228,2017-02-19 13:00:00,4.0,80.0,NaN,30.0,30.0,48.0
1190,228,2017-02-19 14:00:00,4.0,79.0,NaN,30.0,28.0,49.0
1191,228,2017-02-19 15:00:00,4.0,79.0,NaN,34.0,34.0,58.0
1192,228,2017-02-19 16:00:00,3.0,76.0,NaN,24.0,20.0,35.0
1193,228,2017-02-19 17:00:00,1.0,76.0,NaN,26.0,23.0,39.0
1194,228,2017-02-19 18:00:00,1.0,77.0,NaN,43.0,43.0,73.0
1195,228,2017-02-19 19:00:00,0.0,76.0,NaN,50.0,51.0,83.0
1196,228,2017-02-19 20:00:00,0.0,76.0,NaN,74.0,80.0,116.0
1197,228,2017-02-19 21:00:00,0.0,75.0,NaN,59.0,60.0,95.0
1198,228,2017-02-19 22:00:00,0.0,76.0,NaN,57.0,60.0,97.0
1199,228,2017-02-19 23:00:00,0.0,78.0,NaN,45.0,47.0,77.0
1200,228,2017-02-20 00:00:00,0.0,77.0,NaN,40.0,40.0,68.0
1201,228,2017-02-20 01:00:00,0.0,78.0,NaN,40.0,41.0,69.0
1202,228,2017-02-20 02:00:00,0.0,80.0,NaN,42.0,42.0,72.0
1203,228,2017-02-20 03:00:00,0.0,80.0,NaN,36.0,35.0,60.0
1204,228,2017-02-20 04:00:00,0.0,81.0,NaN,35.0,34.0,59.0
1205,228,2017-02-20 05:00:00,0.0,85.0,NaN,40.0,41.0,69.0
1206,228,2017-02-20 06:00:00,0.0,86.0,NaN,43.0,43.0,73.0
1207,228,2017-02-20 07:00:00,2.0,82.0,NaN,55.0,56.0,89.0
1208,228,2017-02-20 08:00:00,4.0,79.0,NaN,46.0,47.0,79.0
1209,228,2017-02-20 09:00:00,4.0,79.0,NaN,36.0,36.0,62.0
1210,228,2017-02-20 10:00:00,5.0,78.0,NaN,24.0,21.0,35.0
1211,228,2017-02-20 11:00:00,6.0,77.0,NaN,28.0,26.0,44.0
1212,228,2017-02-20 12:00:00,6.0,77.0,NaN,36.0,39.0,64.0
1213,228,2017-02-20 13:00:00,5.0,76.0,NaN,31.0,30.0,52.0
1239,228,2017-02-21 15:00:00,6.0,NaN,1007.03,15.0,11.0,21.0
1289,228,2017-02-23 17:00:00,6.0,NaN,998.23,14.0,9.0,20.0
2303,228,2017-04-06 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2598,228,2017-04-19 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2599,228,2017-04-19 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2600,228,2017-04-19 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2601,228,2017-04-19 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2602,228,2017-04-19 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2603,228,2017-04-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2604,228,2017-04-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2605,228,2017-04-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2606,228,2017-04-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2933,228,2017-05-03 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2934,228,2017-05-03 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2935,228,2017-05-03 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3398,228,2017-05-22 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3704,228,2017-06-04 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3926,228,2017-06-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
3927,228,2017-06-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4118,228,2017-06-21 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4119,228,2017-06-21 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4120,228,2017-06-21 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4121,228,2017-06-21 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4865,228,2017-07-22 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4866,228,2017-07-22 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4867,228,2017-07-22 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5531,228,2017-08-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5532,228,2017-08-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5533,228,2017-08-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5534,228,2017-08-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5535,228,2017-08-19 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5735,228,2017-08-27 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5736,228,2017-08-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5737,228,2017-08-28 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5738,228,2017-08-28 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5739,228,2017-08-28 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5740,228,2017-08-28 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5741,228,2017-08-28 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5742,228,2017-08-28 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5743,228,2017-08-28 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5744,228,2017-08-28 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5745,228,2017-08-28 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5746,228,2017-08-28 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5747,228,2017-08-28 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5748,228,2017-08-28 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
5749,228,2017-08-28 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6930,228,2017-10-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6931,228,2017-10-16 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6932,228,2017-10-16 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6933,228,2017-10-16 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6934,228,2017-10-16 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6935,228,2017-10-16 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6936,228,2017-10-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6937,228,2017-10-17 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6938,228,2017-10-17 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6939,228,2017-10-17 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6940,228,2017-10-17 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6941,228,2017-10-17 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6942,228,2017-10-17 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6943,228,2017-10-17 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7129,228,2017-10-25 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7130,228,2017-10-25 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7132,228,2017-10-25 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8497,228,2017-12-21 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8498,228,2017-12-21 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
8499,228,2017-12-21 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
replace_nan_with_prev(new_sensor_dict[228])

C:\Users\User\AppData\Local\Temp\ipykernel_11372\1483693759.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[column][index]=prev_val

In [137]:
new_sensor_dict[228][new_sensor_dict[228].isna().any(axis=1)]

Empty DataFrame
Columns: [sensor_id, UTC time, 228_temperature, 228_humidity, 228_pressure, 228_pm1, 228_pm25, 228_pm10]
Index: []

In [138]:
pd.set_option('display.max_rows',10)

In [139]:
new_sensor_dict[171]

,sensor_id,UTC time,171_temperature,171_humidity,171_pressure,171_pm1,171_pm25,171_pm10
0,171,2017-01-01 00:00:00,1.0,27.0,1024.37,147.0,170.0,256.0
1,171,2017-01-01 01:00:00,0.0,27.0,1023.87,129.0,150.0,228.0
2,171,2017-01-01 02:00:00,1.0,27.0,1023.10,134.0,157.0,240.0
3,171,2017-01-01 03:00:00,0.0,27.0,1022.60,144.0,171.0,261.0
4,171,2017-01-01 04:00:00,0.0,27.0,1022.12,137.0,162.0,248.0
...,...,...,...,...,...,...,...,...
8588,171,2017-12-24 20:00:00,6.0,88.0,1016.91,13.0,14.0,24.0
8589,171,2017-12-24 21:00:00,6.0,88.0,1017.26,12.0,13.0,21.0
8590,171,2017-12-24 22:00:00,5.0,85.0,1017.38,10.0,11.0,19.0
8591,171,2017-12-24 23:00:00,5.0,88.0,1017.44,10.0,11.0,19.0
8592,171,2017-12-25 00:00:00,5.0,88.0,1017.46,9.0,10.0,16.0

## Training/ testing sets

In [140]:
def create_train_set(sensor_dictionary, sensor_ids, n_train_samples): #(sensor_dictionary,sensor_ids, n_samples):
    train_sensor_ids= sensor_ids[:n_train_samples]
    test_sensor_ids= sensor_ids[n_train_samples:]
    train_set = {}
    test_set = {}
    for frame in sensor_dictionary:
        if frame in train_sensor_ids:
            train_set[frame] = sensor_dictionary[frame]
    for frame in sensor_dictionary:
        if frame in test_sensor_ids:
            test_set[frame] = sensor_dictionary[frame]
    return train_set, test_set

In [141]:
min_nan_ratio_sensors = list(set(min_nan_ratio_sensors))
min_nan_ratio_sensors

[226, 228, 171, 204, 212, 180, 214, 218, 220, 221]

In [142]:
train_set, test_set = create_train_set(new_sensor_dict, min_nan_ratio_sensors, 8)
train_set.keys()

dict_keys([171, 180, 204, 212, 214, 218, 226, 228])

In [143]:
test_set.keys()

dict_keys([220, 221])

In [144]:
create_train_set(min_nan_ratio_sensors, 8)

TypeError: create_train_set() missing 1 required positional argument: 'n_train_samples'

In [ ]:
fig, ax = plt.subplots(figsize=(12,6))
plt.locator_params(axis='x', nbins=20)
ax.plot(df['UTC time'], df['220_temperature'])
ax.xaxis.set_tick_params(rotation=90)
#plt.plot(df['UTC time'], df['3_temperature'])
plt.show()

# może być temp. średnia, albo dla dnia (też średnia)

## Standarization

In [ ]:
for column in train_set[171]:
    if column[0:3].isdigit():
        column_mean = train_set[171][column].mean()
        column_std = train_set[171][column].std()
        train_set[171][column] = (train_set[171][column] - column_mean)/column_std

In [ ]:
# scaler = StandardScaler()

# scaled_train_set = scaler.fit_transform(train_set[171])

#train_set[171].describe()
def standarize_frame(sensor_set):
standarized_set = {}

for sensor_frame in sensor_set:
    for column in train_set[171]:
        if column[0:3].isdigit():
            column_mean = train_set[171][column].mean()
            column_std = train_set[171][column].std()
            train_set[171][column] = (train_set[171][column] - column_mean)/column_std

In [ ]:
train_set[171]

In [ ]:
train_set[171].describe()

In [ ]:
fig, ax = plt.subplots(figsize=(12,6))
plt.locator_params(axis='x', nbins=20)
ax.plot(new_sensor_dict[172]['UTC time'], new_sensor_dict[172]['172_temperature'])
ax.xaxis.set_tick_params(rotation=90)
plt.show()

Czujnik 857 uruchomiony we wrześniu. Dalej ciągłość zapisów. Co w tej sytuacji?

### Odległości między punktami i wysokość npm

odległości między punktami- gotowe biblioteki. 

import geopy.distance

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print geopy.distance.geodesic(coords_1, coords_2).km

import mpu

Point one
lat1 = 52.2296756
lon1 = 21.0122287

Point two
lat2 = 52.406374
lon2 = 16.9251681

What you were looking for
dist = mpu.haversine_distance((lat1, lon1), (lat2, lon2))
print(dist)  # gives 278.45817507541943.

https://wrf-python.readthedocs.io/en/latest/internal_api/generated/wrf.g_geoht.get_height.html

In [ ]:
tutaj spróbować:
https://gis.stackexchange.com/questions/338392/getting-elevation-for-multiple-lat-long-coordinates-in-python

import rasterio

coords = ((147.363,-36.419), (147.361,-36.430))
elevation = 'srtm_66_20.tif'

with rasterio.open(elevation) as src:
    vals = src.sample(coords)
    for val in vals:
        print(val[0]) #val is an array of values, 1 element 
                      #per band. src is a single band raster 
                      #so we only need val[0]

Do tworzenia wysokości:

import requests
import urllib
import pandas as pd
 
USGS Elevation Point Query Service
url = r'https://nationalmap.gov/epqs/pqs.php?'
 
coordinates with known elevation 
lat = [48.633, 48.733, 45.1947, 45.1962]
lon = [-93.9667, -94.6167, -93.3257, -93.2755]
 
create data frame
df = pd.DataFrame({
    'lat': lat,
    'lon': lon
})
 
def elevation_function(df, lat_column, lon_column):
    """Query service using lat, lon. add the elevation values as a new column."""
    elevations = []
    for lat, lon in zip(df[lat_column], df[lon_column]):
 
        # define rest query params
        params = {
            'output': 'json',
            'x': lon,
            'y': lat,
            'units': 'Meters'
        }
 
        # format query string and return query value
        result = requests.get((url + urllib.parse.urlencode(params)))
        elevations.append(result.json()['USGS_Elevation_Point_Query_Service']['Elevation_Query']['Elevation'])
 
    df['elev_meters'] = elevations

`elevation_function(df, 'lat', 'lon')`